h1, .h1{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  font-size: 38px;
  line-height: (75/62.5);
  font-weight: 300;
  @media (min-width: $bp-medium){
    font-size: 48px;
  }
  @media (min-width: $bp-large){
    font-size: 62.5px;
  }
}

h2, .h2{
  margin-top: 0;
  margin-bottom: $base-margin/2;
  font-size: 28px;
  line-height: (75/62);
  font-weight: 300;
  @media (min-width: $bp-medium){
    font-size: 34px;
  }
  @media (min-width: $bp-large){
    font-size: 50px;
  }
}

h3, .h3{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  font-size: 20px;
  line-height: 1.2;
}
h4, .h4{
  margin-top: $base-margin;
  margin-bottom: $base-margin/2;
  font-size: 18px;
  line-height: 1.27777778;
}
h5, .h5{
  margin-top:$base-margin;
  margin-bottom: $base-margin/2;
  font-size: 14px;
  line-height: 1.21428571;
}
h6, .h6{
  margin-top:$base-margin;
  margin-bottom: $base-margin/2;
  font-size: 13px;
  line-height: 1.53846154;
}
p{
  margin-top: 0;
  margin-bottom: $base-margin;
}
ul, ol, pre, table{
  margin-top: $base-margin;
  margin-bottom: $base-margin;
}
