<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <%= partial "/base/head" %>
  <body class="<%= page_classes %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HLBGF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  	<a class="skipnav" href="#maincontent">Skip to main content</a>
    <%= partial "/custom/header" %>
    <%= partial "/custom/nav-offcanvas" %>
  	<div id="maincontent">
      <%= yield %>
    </div><!--#maincontent for accessibility skip to main content link-->
    <%= partial "/custom/footer" %>
    <%= partial "/custom/back-to-top" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag "vendor/modernizr.min", "vendor/fastClick", "vendor/breakpoints", "vendor/rellax", "vendor/TweenMax.min", "vendor/scrollMagic", "vendor/rellax", "vendor/scrollMagicAnimation", "vendor/slick", "vendor/modal", "index" %>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c8ac612ba1475c" async="async"></script>
    <script type="text/javascript">
    adroll_adv_id = "ZWC4RCYZMZGYJNINMJHJ4K";
    adroll_pix_id = "WWQYYQCHSJA2DE2TLCVDYZ";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-4037554-10"></script>
    <script>
      GAUA = 'UA-4037554-10';
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', GAUA);
    </script>

    <script src="//scripts.elliance.com/tracking/elliance.tracking.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/custom/elliance-vue-form.js"></script>
    <script type="text/javascript">
      elliance_start_form('201');
    </script>
  </body>
</html>
