/* ================================
   AddThis - Social Share
   ================================*/
.addthis_toolbox{
	margin-bottom: $base-margin;
	text-align: center;
	font-size: 13px;
	color: $gray;

	@media (min-width: $bp-medium){
		text-align: left;
	}
	.share, .label, .date-divider, .date{
		display: block;
		margin-bottom: 10px;
		@media (min-width: $bp-medium){
			display: inline-block;
			margin-bottom: 0px;
		}
	}
	.share{
		padding-right: 10px;
		text-align: center;
		display: block;
		.label{
			padding: 0;
			display: block;
			@media (min-width: $bp-medium){
				padding-right: 10px;
			}
		}
		ul{
			display: inline-block;
			list-style: none;
			padding-left: 0;
			margin: 0;
		}
		li{

			overflow: hidden;
			display: inline-block;
			padding-bottom: 0;
			vertical-align: text-bottom;
			margin: 0 5px;
			transition: all 200ms cubic-bezier(.33,.66,.66,1);
		}
		li:hover, li:focus{
			transform: translate3d(0,-3px,0);
		}
	}
	.date-divider{
		display:none;
		@media (min-width: $bp-medium){
			display: inline-block;
			padding-right: 10px;
		}
	}

}



.share-sprite{
	background: url('/assets/images/share-icon-sprite.png');
	background-size: 300px;
	height: 22px;
	width: 25px;
	padding-right: 5px;
	vertical-align: bottom;
	display: block;
}


//Share Icons
.share-facebook{background-position: -20px 36px;}
.share-googleplus{background-position: -75px 36px; width: 29px;}
.share-twitter{background-position: -133px 36px;}
.share-pinterest{background-position: -190px 36px;}
.share-linkedin{background-position: 53px 36px;}



//IE 8 Styles
//background-size does not work so new smaller sprites are made
//positioning of sprite must be in "background"


.lt-ie9{

	//Share Icons
	.share-facebook{background: url('/assets/images/CMU_icons_ie8.png') -438px 48px;}
	.share-googleplus{background: url('/assets/images/CMU_icons_ie8.png') -474px 48px;}
	.share-twitter{background: url('/assets/images/CMU_icons_ie8.png') -510px 48px;}
	.share-pinterest{background: url('/assets/images/CMU_icons_ie8.png') -545px 48px;}
	.share-linkedin{background: url('/assets/images/CMU_icons_ie8.png') -580px 48px;}

}
