.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal__overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  background-color: $white;
  padding: 20px 30px;
  width: 90%;
  max-width: 750px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  @media (min-width: $bp-medium){
    padding: 40px 60px;
  }
}

.modal-content{
  position: relative;
}
