
$accodion-spacing: $base-margin/2;
.accordion{
  p{
    line-height: 1.5;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    ul{
      list-style: initial;
      line-height: 1.5;
      margin-bottom: $base-margin;
      ul{
        list-style-type: circle;
        margin-top: 5px;
      }
    }
  }
  li{
    margin-bottom: 25px;
    border: 2px solid $gray-dark;
    li{
      border: 0px solid $gray-dark;
      margin-left: 1.5rem;
      margin-bottom: 0;
    }
  }
  .accordion--button{
    position: relative;
    background: none;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.125;
    color: $red;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 15px 60px 15px 15px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    @media (min-width: $bp-medium){
      font-size: 18px;
      padding: 25px 75px 25px 25px;
    }
    &:focus{
      outline: 1px dashed rgba(0,0,0,0.5);
    }
    &[aria-expanded="true"]{
      background-color: $gray-dark;
      color: $white;
    }
    &:after{
      background-color: $gray-dark;
      color: $white;
      padding: 15px;
      font-size: 20px;
      line-height: 1;
      height: 100%;
      width: 47px;
      text-align: center;
      font-family: 'fontawesome';
      @media (min-width: $bp-medium){
        width: 66px;
        padding: 23px;
      }
    }
    &[aria-expanded="false"]:after{
      content: "\f067";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    &[aria-expanded="true"]:after{
      content: "\f068";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .accordion--body{
    padding: 15px;
    font-size: 16px;
    @media (min-width: $bp-medium){
      padding: 25px;
    }
    p{
      font-size: 16px;
    }

  }
}
