//Back to Top
.back-to-top{
  position: fixed;
  @include grid-push(9);
  bottom: 70px;
  right: 17px;
  z-index: 100000;
  @media (min-width: $bp-medium){
    bottom: 80px;
    @include grid-push(9);
    right: auto;
    left: 20px;
  }
}
.top-trigger{
	cursor: pointer;
  color: rgba($black, 0.5);
  font-size: 40px;
  &:hover, &:focus{
    color: $red;
  }
}
