.section{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  overflow-x: hidden;
}
.body-cover{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  padding: 10rem 0;

}

 //Section Backgrounds
.section-background{
  position: relative;
 	min-height: 80vh;
 	display: flex;
 	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
 	background-position: center top;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: scroll;
  &.bottom-position{
    background-position: center bottom !important;
  }
 	@media(min-width: $bp-medium){
 		min-height: 95vh;
 	}
 	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	  min-height: 1024px;
  }
 	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
 	  min-height: 768px;
 	}
 	@media screen and (device-aspect-ratio: 40/71) {
 	  min-height: 500px;
 	}
 	.no-touch &{
 		background-attachment: scroll;
    @media(min-width: $bp-medium){
      background-attachment: fixed;
    }
 	}
}

.section-two .section-background{
  background-image: url("../images/final/01_more/bg-section-2.jpg");
}
.section-three .section-background{
  background-image: url("../images/final/02_curriculum/bg-section-3.jpg");
}
.section-four .section-background{
  background-image: url("../images/final/03_faculty/hero_faculty.jpg");
}
.section-five .section-background{
  background-image: url("../images/final/04_admissions/hero_admissions.jpg");
}
