/* ================================
   Base (Custom)
   ================================ */

//Structural
body{
  min-width: 250px;
  overflow-x: hidden;
  background: $background-color;

}
.page-body{
  position: relative;
  display: block;
  width: 100%;
  float: left;
  p{
    font-size: 16px;
    line-height: (50/24);
    @media (min-width: $bp-medium){
      font-size: 18px;
    }
    @media (min-width: $bp-large){
      font-size: 24px;
    }
  }
}
.contain, .container, .contained{
  position: relative;
  display: block;
  @include grid-column(9.5);
  @include grid-push(0.25);
  @media(min-width: $bp-medium){
    @include grid-column(9);
    @include grid-push(0.5);
  }
  @media(min-width: $bp-xlarge){
    @include grid-column(8);
    @include grid-push(1);
  }
  // @media(min-width: $bp-xhuge){
  //   @include grid-column(10);
  //   @include grid-push(1);
  // }
  &:before{
    content: "";
    display: table;
  }
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
  }
  &.relative{
    position: relative; //to keep absolute things in this container
  }
}

.island{
  padding: $base-margin;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}



//Grid helpers
.row{
  @include grid-container;
  @include grid-collapse;
}
