/* ================================
   Body Parts
   ================================ */
.blue-background, .background-blue{
  background-color: rgba($blue-pale, 0.85);
}
.green-background, .background-green{
  background-color: rgba($mint, 0.7);
}
.peach-background, .background-peach{
  background-color: rgba($peach, 0.7);
}
.pink-background, .background-pink{
  background-color: rgba($pink-dusty, 0.7);
}
.gray-background, .background-gray{
  background-color: rgba(#B7B7B7, 0.5);
}
