/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: index
---
```html_example
<ul class="breadcrumbs">
	<li class="home-crumb"><a href="/" alt="/" title="/"><span class="zmdi zmdi-home"></span><span class="screen-reader-text">Home</span></a></li>
	<div class="expanding-crumbs">
		<li><a href="/" alt="/" title="/">Router</a></li>
		<li><a href="/" alt="/" title="/">Degree</a></li>
		<li><a href="/" alt="/" title="/">Great Grandparent</a></li>
	</div>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Grandparent with Long Title</a></li>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Parent with Long Title</a></li>
</ul>
```
*/

/* ================================
   Breadcrumbs
   ================================ */
.breadcrumbs{
	padding: 0;
	margin: 0 0 $base-margin/2 0;
	@include calcType(14px, $bp-xsmall, $golden);
  @media(min-width: $bp-medium){
    @include calcType(16px, $bp-small, $golden);
  }
	li{
		display: inline-block;
	}
	li:after{
		content: "\f2fb";
		font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
		display: inline-block;
		font-size: inherit;
		text-rendering: auto;
		padding-left: 5px;
	}
	.expanding-crumbs{
		display: inline;
	}
	.expanding-crumbs li{
		display: none;
		@media(min-width: $bp-medium){
			display: inline;
		}
	}
	.expanding-crumbs:before{
		content: "... \f2fb";
		font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
		display: inline-block;
		font-size: inherit;
		text-rendering: auto;
		padding-left: 5px;
		@media(min-width: $bp-medium){
			content: "";
			padding: 0;
		}
	}
}
