.corporate-partners {
    #hero {
        background: {
            image: url('../images/corporate-partners/Corporate-Partners-Hero.jpg');
            position: center 20%;
        }
        &.short {
            height: 300px;
            min-height: 0;
            overflow: hidden;
            @media (min-width: $bp-menu-shift) {
                height: 400px;
            }
        }
    }
    .section {
        //overflow-x: auto !important;
    }

    .section-one .media-txt {
        @include grid-column(9);
        margin-left: initial;
        position: relative;
        top: 0;
    }

    .grid-contain {
        z-index: 99;
    }

    .section-2--row.row-3 .section-2--grid .section-grid li {
        padding: 0;
    }

    .section-two .section-background {
        background: {
            image: url('../images/corporate-partners/Corporate-Partners-background.jpg');
            position: center 25%;
        }
    }

    .section-grid {
        width: 100%;
    }

    .accordion-title {
        @media (max-width: $bp-menu-shift) {
            margin-bottom: 40px;
        }
    }

    #accordion-section {
        .body-cover {
            padding-bottom: 30px;
        }
    }

    span.red {
        color: $red;
    }
    .bold {
        font-weight: 700;
    }

    #request-info-form {
        padding-top: 90px;
    }

    .form_page {
        padding-bottom: 80px;
        ul {
            margin: 0;
            li {
                list-style: none;
                margin: -.5em -.5em .5em -.5em;
                padding: .5em;
            }
        }
        .form input[type=password],
        .form input[type=text], 
        .form input[type=email], 
        .form input[type=tel], 
        .form input:not([type]), 
        .form select, 
        .form textarea {
            box-sizing: border-box;
            width: 100%;
            max-width: 1600px;
            padding: 8px;
            background-color: #fff;
            border-radius: 0;
            border: 2px solid $black;
            width: 100%;
        }
        .form input[type=password],
        .form input[type=text], 
        .form input[type=email], 
        .form input[type=tel], 
        .form input:not([type]), 
        .form select {
            height: 50px;
        }
        .form textarea {
            height: 180px;
        }
        button,
        input[type="button"], 
        input[type="reset"], 
        input[type="submit"] {
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            background-image: none;
            -webkit-appearance: none;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            padding: 15px;
            letter-spacing: 2px;
            line-height: 16px;
            border: 0;
            border-radius: 0;
            margin: 0 3px 6px 0;
            color: #FFFFFF;
            text-decoration: none;
            background-color: #a81933;
        }
        label {
            display: inline-block;
            margin: 10px 0;
        }
        #email2 {
            display: none;
        }
    }
    #request-info-form {
        @media (min-width: $bp-menu-shift) {
            padding-top: 170px;
            margin-top: -100px;
        }
        p {
            @media (min-width: $bp-menu-shift) {
                font-size: 22px !important;
            }
        }
    }

    .section-carousels {
        float: left;
        padding: 30px 0 90px 0;
        width: 100%;
    }

    .logo-carousel {
        position: relative;
        display: block;
        width: 100%;
        float: left;
        .logo-carousel--button {
            position: absolute;
            height: 100%;
            width: 40px;
            background-color: $gray-dark;
            color: $white;
            font-size: 20px;
            text-align: center;
            line-height: 29px;
            cursor: pointer;
            z-index: 10;
            @media (min-width: $bp-menu-shift) {
                font-size: 40px;
                width: 77px;
            }
            &:hover, &:focus, &:active {
                background-color: $red;
            }
            span.btn {
                background: transparent;
                left: 50%;
                padding: 0;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &.logo--prev {
                display: block;
                left: 0;
            }
            &.logo--next {
                display: block;
                right: 0;
            }
        }
        .logo--section {
            background-color: $white;
            @include grid-column(7.5, $inner-grid);
            margin: 0 40px;
            @media (min-width: $bp-menu-shift) {
                margin: 0 77px;
            }
            .slick-track {
                display: flex;
                align-items: center;
                margin: 0 40px;
                @media (min-width: $bp-menu-shift) {
                    margin: 0;
                }
            }
            .slick-list {
                overflow: visible;
                padding: 30px 0;
                @media (min-width: $bp-medium) {
                  overflow: hidden;
                }
            }
            .slide {
                padding: 0 10px;
                width: 100%;
                &:focus {
                  outline: none;
                }
            }
            .logo--image {
                position: relative;
                overflow: hidden;
                //margin: 0 auto;
                //max-width: 150px;
                max-width: 200px;
                text-align: center;
                @media (min-width: $bp-sm-medium) {
                    max-width: 250px;
                }
                img {
                    display: inline;
                }
            }
        }
    } 
}

h4.logo-carousel-title {
    float: left;
    font-size: 16px;
    letter-spacing: .9px;
    margin: 35px 0 25px 40px;
    text-transform: uppercase;
    @media (min-width: $bp-menu-shift) {
        margin: 35px 0 25px 77px;
    }
    &:before {
        background: $black;
        content: '';
        display: inline-block;
        height: 12px;
        margin-right: 10px;
        width: 12px;
    }
    &.capstones {
        &:before {
            background: #008682;
        }
    }
    &.hired {
        &:before {
            background: $red;
        }
    }
}