%exp-learn-carousel-buttons {
    background-color: transparent;
    border-radius: 50%;
    height: 45px;
    position: absolute;
    width: 45px;
    z-index: 2;

    .btn {
        background-color: $white;
        clip-path: circle();
        color: $black;
        font-size: 25px;
        left: 0;
        padding: 10px;
        position: absolute;
        top: 0;


    }
}

.experiential-learning {
    #hero {
        background: {
            image: url('../images/experiential-learning/experiential-learning-hero.jpg');
        }
    }

    #section1 {
        .internships {
            h2 {
                color: $red;
                font-weight: 400;
            }
            &--left {
                position: relative;
                margin-bottom: 6em;
                @media screen and (min-width: $bp-xlarge) {
                    left: 40%;
                    width: 60%;
                    margin-bottom: 0;
                }
            }

            &--right {
                margin-bottom: 6em;
                @media screen and (min-width: $bp-xlarge) {
                    position: relative;
                    top: -150px;
                    width: 38%;
                    margin-bottom: 0;
                }
            }

            &--logos {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                &--logo {
                    margin: 4px;
                    width: calc(33.33% - 8px);

                    @media screen and (min-width: $bp-xlarge) {
                        width: calc(50% - 8px);
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .floating-background-left {
                height: 100%;
                position: absolute;
                right: 100px;
                width: 100%;
                z-index: -1;
            }
        }
        .capstones {
            h2 {
                color: $red;
                font-weight: 400;
            }
            &--intro {
                position: relative;
                @media screen and (min-width: $bp-large) {
                    width: 90%;
                }
                @media screen and (min-width: $bp-xlarge) {
                    width: 80%;
                }
                @media screen and (min-width: $bp-huge) {
                    width: 70%;
                }
                @media screen and (min-width: $bp-xhuge) {
                    width: 60%;
                }

                .floating-background-right {
                    @media screen and (min-width: $bp-large) {
                        height: 120%;
                        left: 100px;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        z-index: -1;                            
                    }
                }
            }
            &--list {
                margin-bottom: 6em;
                @media screen and (min-width: $bp-large) {
                    left: 10%;
                    position: relative;
                    width: 90%;
                }
                @media screen and (min-width: $bp-xlarge) {
                    left: 20%;
                    width: 80%;
                }
                @media screen and (min-width: $bp-huge) {
                    left: 30%;
                    width: 70%;
                }
                @media screen and (min-width: $bp-xhuge) {
                    left: 40%;
                    width: 60%;
                }
            }
            ul {
                li {
                    color: $red;
                    font-size: 18px; 
                    font-weight: bold;
                    line-height: 54px;
                    list-style: none;
                    /* text-transform: uppercase; */
                    @media screen and (min-width: $bp-large) {
                        font-size: 22px; //18 if uppercase
                    }

                    &::before {
                        background-color: $red;
                        content: ' ';
                        display: inline-block;
                        height: .66em;
                        margin-right: 1.5em;;
                        width: .66em;
                    }
                }
            }
        }

        .capstone-carousel {
            background-color: $red;
            @media screen and (min-width: $bp-large) {
                background-image: linear-gradient(90deg, $red 50%, $gray-dark 50%);
            }
            @media screen and (min-width: $bp-xlarge) {
                background-image: none;
            }

            .slide {
                &--container {
                    height: 100%;
                    @media screen and (min-width: $bp-large) {
                        display: flex;
                        flex-flow: row nowrap;
                    }
                }
                &--text {
                    background-color: $red;
                    color: $white;
                    flex: 1;
                    
                    @media screen and (min-width: $bp-large) {
                        order: -1;
                        width: 50%;
                    }

                    h3 {
                        font-size: 1.5rem;
                        margin: 0;
                        padding: 25px;
                    }

                    p {
                        font-size: 20px;
                        line-height: 24px;
                        padding: 0 25px 45px;
                    }
                }

                &--image {
                    flex: 1;
                    height: 250px;
                    position: relative;
                    width: 100%;
                    @media screen and (min-width: $bp-large) {
                        height: 100%;
                        left: 0;
                        width: 50%;
                    }
                    img {
                        height: 250px;
                        object-fit: cover;
                        width: 100%;
                        @media screen and (min-width: $bp-large) {
                            height: auto;
                            min-height: 100%;
                        }
                    }
                }
            }

            .slick-track {
                display: flex !important;
            }

            .slick-slide {
                height: inherit !important;
            }
        }

        .capstone-carousel--button.button--prev {
            @extend %exp-learn-carousel-buttons;
            top: 100px;
            left: 10px;

            @media screen and (min-width: $bp-large) {
                bottom: 10px;
                left: 10px;
                top: auto;
            }
        }

        .capstone-carousel--button.button--next {
            @extend %exp-learn-carousel-buttons;
            top: 100px;
            right: 10px;
            
            @media screen and (min-width: $bp-large) {
                bottom: 10px;
                left: 65px;
                top: auto;
            }
        }
    }

    #section2 {
        .section-background {
            background: {
                image: url('../images/experiential-learning/section-3-background.jpg');
            }
        }

        .careers {
            margin-bottom: 6em;
            .intro--title {
                margin-bottom: 4em;
                text-align: center;
            }
            
            &--carousel {
                left: 5%;
                position: relative;
                width: 90%;
                @media screen and (min-width: $bp-large) {
                    left: 0;
                    width: 100%;
                }
                .slide {
                    padding: 0 10px;
                    @media screen and (min-width: $bp-large) {
                        padding: 20px;
                    }
                }
                &--image {
                    border-radius: 50%;
                    margin: 0 auto 20px;
                    max-width: 250px;
                    min-height: 250px;
                    overflow: hidden;
                    position: relative;
                }
                &--name {
                    h3 {
                        color: $red;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        line-height: 1.6;
                        margin: 0;
                        text-transform: uppercase;

                    }
                }
                &--description {
                    p {
                        font-size: 1.1rem;
                        line-height: 1.5;
                    }
                }
                &--button {
                    background-color: $gray-dark;
                    border-radius: 50%;
                    color: $white;
                    height: 30px;
                    line-height: 30px;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    width: 30px;
                    &.prev {
                        left: 0;
                    }
                    &.next {
                        right: 0;
                    }
                }
            }
        }

        .employers {
            h2 {
                color: $red;
                font-weight: 400;
            }
            &--left {
                @media screen and (min-width: $bp-large) {
                    width: 80%;
                }
                @media screen and (min-width: $bp-xlarge) {
                    width: 70%;
                }
                @media screen and (min-width: $bp-huge) {
                    width: 60%;
                }
            }
            &--right {
                margin-bottom: 4em;
                position: relative;
                @media screen and (min-width: $bp-large) {
                    left: 20%;
                    width: 70%;
                }
                @media screen and (min-width: $bp-xlarge) {
                    left: 30%;
                    width: 60%;
                }
                @media screen and (min-width: $bp-huge) {
                    left: 40%;
                    width: 50%;
                }
            }

            .floating-background-left {
                height: 120%;
                left: -20%;
                position: absolute;
                width: 120%;
                z-index: -1;
            }

            &--logos {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;

                &--logo {
                    align-items: center;
                    display: flex;
                    flex-flow: column;
                    height: 100px;
                    justify-content: center;
                    margin: 5px;
                    background-color: $white;
                    width: calc(25% - 10px);
                    @media screen and (min-width: $bp-xlarge) {
                        width: calc(33.33% - 10px);
                    }

                    img {
                        max-height: 65px;
                        max-width: 80%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}