/* ================================
   Footer
   ================================ */
footer#footer{
	position: relative;
	display: block;
	// @include grid-collapse;
	// @include grid-container;
	width: 100%;
	float: left;
	background-color: $gray-dark;
	color: $white;
	border-top: 50px solid $red;
	margin-bottom: 50px;
	@media (min-width: $bp-medium){
		margin-bottom: 0;
	}
	a, a:visited{
		color: $white;
		text-decoration: none;
		&:hover, &:focus, &:active{
			text-decoration: underline;
		}
	}
}
.footer-inner{
	padding: 50px 0 20px;
	@media (min-width: $bp-medium){
		display: flex;
		flex-wrap: wrap;
	}
}
.footer-left{
	@include grid-column(8, $inner-grid);
	@media (min-width: $bp-medium){
		@include grid-column(6, $inner-grid);
	}
	@media (min-width: $bp-large){
		@include grid-column(7, $inner-grid);
	}
}
.footer-logo{
	max-width: 280px;
	margin-bottom: 20px;
}
.footer-address{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 15px;
	font-size: 14px;
	.address-title{
		font-weight: 600;
	}
	p{
		margin: 0;
	}
}
.footer-legal{
	font-size: 14px;
	font-weight: 600;
	ul{
		list-style: none;
		margin: 0;
	}
	li{
		display: inline-block;
		margin-right: 6px;
		&:after{
			content: "|";
			margin-left: 10px;
		}
		&:last-child{
			&:after{
				content: "";
			}
		}
	}
}


.footer-right{
	@include grid-column(8, $inner-grid);
	@media (min-width: $bp-medium){
		@include grid-column(2, $inner-grid);
		position: relative;
	}
	@media (min-width: $bp-large){
		@include grid-column(1, $inner-grid);
		position: relative;
	}
	@media (max-width: $bp-medium){
		.social-share--list{
			margin-top: 30px;
			li{
				display: inline-block;
				margin-right: 10px;
				@media (min-width: $bp-medium){
					text-align: center;
				}
			}
		}
	}
	.social-share--list{
		margin-bottom: $base-margin;
		a, a:visited{
			display: inline-block;
			width: 30px;
			height: 30px;
			line-height: 30px;
			background-color: $white;
			border-radius: 50%;
			color: $gray-dark !important;
			&:hover, &:focus, &:active{
				transform: scale(1.1);
			}
		}
	}
}
.footer--blog-link{
	position: relative;
	font-size: 14px;
	line-height: 1.25;
	text-transform: uppercase;
	@media (min-width: $bp-medium){
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		width: 100%;
	}
}
.footer-post{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	height: 60px;
	background-image: url('../images/cmu-plaid.jpg');
	background-repeat: repeat-x;
}
