/* ================================
   Header
   ================================ */
	 $header-height: 75px;
	 header#header{
	 	position: fixed;
		display: block;
	 	z-index: 999;
	 	width: 100%;
		top: 0;
		left: 0;
	 }
	 .header--inner{
		@include grid-column(10);
	  @media(min-width: $bp-medium){
	    @include grid-column(9);
	    @include grid-push(0.5);
	  }
	  @media(min-width: $bp-xlarge){
	    @include grid-column(8);
	    @include grid-push(1);
	  }

	 }
	 .header--row{
		 width: 100%;
		 float: left;
		 position: relative;
		 @media (min-width: $bp-medium){
			@include grid-collapse;
 		  @include grid-container;
		}
	 }
	.header--left{
		width: 100%;
		float: left;
		@media(min-width: $bp-medium){
			width: 75%;
		}
		@media (min-width: $bp-xlarge){
			@include grid-column(6, $inner-grid);
		}
	}
	.header--right{
		width: 0;
		@media(min-width: $bp-medium){
			width: 25%;
			float: left;
		}
		@media (min-width: $bp-xlarge){
			float: right;
			@include grid-column(2, $inner-grid);
			margin-right: 20px; //align with grid
		}
	}
	 #nav-trigger{
		 position: relative;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 float: left;
		 padding: 1rem;
		 height: 60px;
		 width: 60px;
		 cursor: pointer;
		 background-color: $gray-dark;
		 transition: background-color 150ms ease-in-out;
		 @media (min-width: $bp-medium){
			 height: $header-height;
			 width: $header-height;
			 box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
		 }
		 @media (min-width: $bp-xlarge){
			margin-right: 20px;
		 }
		 &:hover, &:focus, &:active{
			 background-color: lighten($gray-dark, 10%);
		 }
		 &:before{
			 content: '\f0c9';
			 font-family: 'Font Awesome 5 Free', 'fontawesome';
			 font-size: 24px;
			 color: $white;
			 display: inline-block;
		 }
		 &.open{
			 &:before{
				 content: "\f00d";
			 }
		 }
	 }
	 .header--logo{
		position: relative;
		display: flex;
		align-items: center;
		float: left;
		background-color: $white;
		padding: 10px 20px;
		height: 75px;
		width: calc(100% - 60px);
		@media (min-width: $bp-small){
			width: auto;
			box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
		}
		@media (min-width: $bp-medium){
			padding: 20px 30px;
			height: 120px;

		}
		@media (min-width: $bp-large){
			padding: 20px 50px;
		}

	 }
	 .header--logo-img{
		 position: relative;
		 display: inline-block;
		 float: left;
		 max-width: 250px;
		 width: 100%;
		 @media (min-width: $bp-medium){
			max-width: 355px;
		 }
	 }
	 .header--logo-txt{
		 position: relative;
		 display: inline-block;
		 float: left;

		 h1{
			 margin: 0;
			 margin-left: 15px;
			 font-size: 14px;
			 font-size: 2.5vw;
			 font-weight: 600;
			 @media(min-width: $bp-medium){
				 font-size: 15px;
			 }
			 @media(min-width: $bp-large){
				 font-size: 16px;
			 }
			 @media(min-width: $bp-xlarge){
				 font-size: 20px;
			 }
		 }
	 }
	 .header--callout{
		position: fixed;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		@media (min-width: $bp-medium){
			position: relative;
		}
 		@media (min-width: $bp-xlarge){
 			@include grid-collapse;
 		}
	 }
     .header--callout-button, .header--callout-button:visited,
     .header--callout-button-long {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		padding: 1rem;
		font-size: 12.5px;
		line-height: 1.25;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-color: $gray-dark;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		height: 50px;
        //width: 50%;
        width: 100%;
		transition: background-color 150ms ease-in-out;
		@media (min-width: $bp-medium){
            float: right;
			font-size: 0.8vw;
			height: $header-height;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
            width: 50%;
		}
		@media (min-width: $bp-xlarge){
			//@include grid-column(4, $inner-grid);
		}
		&:hover, &:focus, &:active{
			color: $white;
			text-decoration: none;
		}
		&.gray{
			background-color: $gray-dark;
			&:hover, &:focus, &:active{
 			 background-color: lighten($gray-dark, 10%);
 		 }
		}
		&.red{
			background-color: $red;
			&:hover, &:focus, &:active{
 			 background-color: lighten($red, 10%);
 		 }
        }
     }
     .header--callout-button-long {
        width: 100%;
        @media (min-width: $bp-menu-shift) {
            max-width: 220px;
        }
    }
