#hero{
  position: relative;
  display: block;
  width: 100%;
  float: left;

 	background-position: 75% top;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: scroll;
 	background-image: url("../images/final/01_more/20191115_mspm0559.jpg");
 	box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
 	position: relative;
 	color: #ffffff;
 	min-height: 80vh;
 	display: flex;
  margin-top: 50px;
 	margin-bottom: -$base-margin*2;
 	@media (min-width: $bp-medium){
    margin-top: 0;
 		min-height: 500px;
    min-height: 100vh;
    background-position: center top;
 	}
 	@media (max-height: 400px){
 		min-height: 320px;
    min-height: 100vh;

 	}
 	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
 	    min-height: 1024px;
 	}
 	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
 	    min-height: 768px;
 	}
 	@media screen and (device-aspect-ratio: 40/71) {
 	   min-height: 500px;
     }
}


.hero--title{
  position: absolute;
  bottom: 50px;
  left: 0;

  @include grid-column(7);
  @include grid-push(0.5);
  margin-bottom: 50px;
  @media (min-width: $bp-medium){
    @include grid-column(4);
    @include grid-push(1);
  }
  @media (min-width: $bp-large){
    bottom: 0;
  }
}
.scroll-coax{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  .carrot{
    display: block;
    text-align: center;
    color: $red;
  }
  .scroll-coax--text{
    display: block;
    font-size: 12.5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: $white;
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.75);
  }
}
.social-share{
  display: none;
  @media (min-width: $bp-small){
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
  }
}
