//Line Scroll
.line{
	position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
	content: "";
	background-color: $red;
	color: $red;
	width: 1px;
	height: 50px;
	margin: -25px auto 0;
	z-index: 100;
	&:after{
		content: "\f135";
		font: normal normal normal 24px/1 'fontawesome';
		color: inherit;
		position: absolute;
		bottom: -30px;
		left: -8px;
	}
	&.rocket:after{
		content: "\f135" !important;
		bottom: -17px;
		left: -12px;
	}
	&.graduation-cap{
		height: 200px;
		margin-top: -175px;
		&:after{
			content: "\f19d" !important;
			left: -14px;
		}
	}
	&.book:after{
		content: "\f02d" !important;
		bottom: -20px;
		left: -12px;
	}
	&.exclamation:after{
		content: "\f12a" !important;
		bottom: -40px;
		left: -4px;
	}
	&.check{
		height: 120px;
		&:after{
			content: "\f058" !important;
			bottom: -22px;
			left: -9px;
		}
	}
}


#line-one{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
