/* ================================
   Logo Grid
   ================================ */
.logo-grid{
  @include row(12);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  li{
    @include column(6);
    margin-bottom: $base-margin/2;
    @media(min-width: $bp-large){
      @include column(4);
      margin-bottom: $base-margin/2;
      //display: table;
    }
  }
}
