/* ================================
   Navigation
   ================================ */
//Offcanvas Double Mobile Menu
#nav-offcanvas{
	z-index: 998;
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c1c1c1;
	display: block;
	background-image: url('../images/nav-bg.png');
	background-size: cover;
	background-position: center;
	overflow-y: auto;
	transform: translateY(-100%);
	transition: all 400ms ease-in-out;
	&.open{
		display: block;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0%;
		transform: translateY(0);
		@media (max-height: 600px){
			display: block !important;
		}
		nav{
			opacity: 1;
		}
	}
	nav{
		margin: 100px 20px;
		list-style: none;
		display: block;
		width: 90%;
		text-align: center;
		opacity: 0;
		transition: opacity 250ms ease-in-out;
		transition-delay: 400ms;
		@media (min-width: $bp-medium){
			margin: 150px auto 100px auto;
			width: 100%;
		}
	}
	li{
		display: block;
		width: 100%;
		margin-bottom: 30px;
		@media (min-width: $bp-medium){
			margin-bottom: $base-margin;
		}
	}
	a, a:visited{
		font-size: 25px;
		line-height: 1.3;
		font-weight: 300;
		text-decoration: none;
		border-bottom: 1px solid $red;
		@media (min-width: $bp-small){
			font-size: 30px;
		}
		@media (min-width: $bp-medium){
			font-size: 75px;
			font-size: 3vw;
		}

		&:hover, &:focus, &:active{
			border-bottom: 0;
			color: $red;
		}
	}
}
//Disable body scroll when menu open
.disable-scroll{
	overflow: hidden;
	// @media (min-width: $bp-menu-shift){
	// 	overflow-x: hidden;
	// 	overflow-y: visible;
	// }
}
