/* ================================
   Routers
   ================================ */

//Rows with images
// .router-container{
// 	@include row(12);
// }
.router-row{
	@include row(12);
	margin-bottom: $base-margin;
	.image-container{
		@include column(3);
	}
	.text-container{
		@include column(9);
	}
	.text-container.full-width{
		@include column(12);
	}
	h4{
		margin: 0;
	}
}
