.section-three{
  position: relative;
  .scroll-coax{
    color: $white;
  }
  .floating-block{
    position: relative;
    float: left;
    z-index: 1;
    pointer-events: none;
    &.for-row-3{
      height: 300px;
      margin: -150px 0;
      width: 100%;
    }
    &.for-row-4{
      height: 400px;
      width: 100%;
      position: absolute;
      top: 0%;
      left: 40%;
      margin: 0;
      z-index: 0;
    }
  }
}


.section-3--row{
  position: relative;
  z-index: 2;
  float: left;
  &.row-1{
    margin-bottom: 20px;
    @media (min-width: $bp-medium){
      margin-bottom: 50px;
    }
    .section-3--title{
      @include grid-column(6, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(3, $inner-grid);
        @include grid-push(1, $inner-grid);
      }
    }
  }

  &.row-2{
    margin-bottom: 90px;
    .media-txt{
      @include grid-column(9.5);
      @include grid-push(0.25);
      @media (min-width: $bp-medium){
        @include grid-column(4);
        @include grid-push(1);
      }
    }
    .media-img{
      @include grid-column(9.5);
      @include grid-push(0.25);
      @media (min-width: $bp-medium){
        @include grid-column(5);
      }
    }
  }

  &.row-3{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;

    .list-semester{
      position: relative;
      @include grid-column(8, $inner-grid);
      padding-bottom: 40px;
      margin-bottom: $base-margin*2;
      @media(min-width: $bp-medium){
        @include grid-column(2, $inner-grid);
        margin-bottom: 0;
      }
      &:first-child{
        @media(min-width: $bp-medium){
          @include grid-push(2, $inner-grid);
        }
      }
      ul{
        list-style: none;
        margin-left: 0;
        font-size: 14px;
        margin-bottom: 8px;
        @media (min-width: $bp-medium){
          font-size: 15px;
          margin-bottom: 40px;
        }
      }
      li{
        margin-bottom: 10px;
      }
    }
    .list-semester--title{
      display: block;
      font-size: 18px;
      line-height: 1.6;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      color: $red;
      margin: 0;
      @media (min-width: $bp-medium){
        font-size: 20px;
      }
    }
    .list-semester--info{
      display: block;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 1px;
      font-weight: 600;
      margin: 0;
      @media (min-width: $bp-medium){
        font-size: 16px;
      }
    }
    .list-semester--btn{
      display: inline-block;
      margin: 0;
      border-radius: 0;
      background: $red;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 14px;
      transition: background-color 150ms ease-in-out;
      margin-top: 20px;
      @media (min-width: $bp-medium){
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
      }
      &:hover, &:focus, &:active{
        background-color: darken($red, 10%);
      }
    }
  }

  &.row-4{
    margin-bottom: 90px;
    .media-txt{
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(6, $inner-grid);
      }
      p{
        margin-top: $base-margin;
        font-size: 24px;
        line-height: 1.6666;
        font-weight: 300;
        @media(min-width: $bp-medium){
          font-size: 30px;
        }
        @media(min-width: $bp-large){
          font-size: 37px;
        }
      }
    }
    .media-img{
      @include grid-column(6, $inner-grid);
      @include grid-push(2, $inner-grid);
      @media(min-width: $bp-small){
        @include grid-column(4, $inner-grid);
        @include grid-push(4, $inner-grid);
      }
      @media (min-width: $bp-medium){
        @include grid-column(2, $inner-grid);
      }
    }
  }

  &.row-5, &.row-6{
    .media-img-bg{
      display: none;
      @media (min-width: $bp-medium){
        display: block;
        @include grid-column(5, $inner-grid);
        @include grid-push(2, $inner-grid);
      }
    }
    .media-blocks{
      @include grid-column(8, $inner-grid);

      @media (min-width: $bp-medium){
        @include grid-column(4, $inner-grid);
        position: absolute;
        bottom: 0;
        transform: translateY(35%);
      }
      .block{
        @include grid-column(8, $inner-grid);
        margin-bottom: $base-margin;
        @media (min-width: $bp-xsmall){
          @include grid-column(4, $inner-grid);
          z-index: 1;
        }
        @media (min-width: $bp-medium){
          margin-bottom: 0;
        }
      }
    }
  }
  &.row-5{
    z-index: 2;
    .media-blocks{
      @media (min-width: $bp-medium){
        left: 0;
      }
    }
  }
  &.row-6{
    z-index: 1;
    margin-bottom: 200px;
    .media-blocks{
      @media (min-width: $bp-medium){
        right: 20px;
      }
    }
  }


  &.row-7{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $base-margin;
    .media-quote{
      position: relative;
      @include grid-column(8, $inner-grid);
      margin-bottom: $base-margin;
      @media (min-width: $bp-medium){
        @include grid-column(5, $inner-grid);
        @include grid-push(1, $inner-grid);
        margin-bottom:0;
      }
      .blockquote-cite{
        font-size: 20px;
        letter-spacing: 3px;
        color: $red;
      }
    }
    .media-img{
      @include grid-column(4, $inner-grid);
      @include grid-push(4, $inner-grid);
      @media (min-width: $bp-medium){
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include grid-column(2, $inner-grid);
        @include grid-push(0, $inner-grid);
      }
    }
  }

}



.modal__title{
  display: block;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: $red;
  margin-top: 0;
  margin-bottom: 10px;
  @media (min-width: $bp-medium){
    font-size: 20px;
  }
}
.modal__close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 30px;
  color: $black;
  background-color: $white;
  &:hover, &:focus, &:active{
    color: $white;
    background-color: $red;
  }
}
