.section-five{
  position: relative;
  .floating-block{
    position: relative;
    float: left;
    z-index: 1;
    pointer-events: none;
    &.for-row-3{
      position: absolute;
      top: 0;
      left: -50%;
      height: 200%;
      width: 100%;
    }
    &.for-row-5{
      position: absolute;
      top: -60px;
      left: -150%;
      height: 50%;
      width: 300%;
    }
  }
}

.section-5--row{
  position: relative;
  z-index: 2;
  float: left;
  &.row-1{
    margin-bottom: 50px;
    .section-5--title{
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(3, $inner-grid);
      }
    }
  }
  &.row-2{
    margin-bottom: 100px;
    .accordion-title{
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(5, $inner-grid);
      }
    }
    .accordion-body{
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(6, $inner-grid);
        @include grid-push(2, $inner-grid);
      }
    }
  }
  &.row-3{
    .media-txt{
      position: relative;
      z-index: 2;
      @include grid-column(8, $inner-grid);
    }
  }
  &.row-4{
    margin-bottom: 100px;
    .media-txt{
      position: relative;
      z-index: 1;
      @include grid-column(9.5);
      @include grid-push(0.25);
      @media (min-width: $bp-medium){
        @include grid-column(4);
        @include grid-push(1);
      }
      .list-buttons{
        list-style: none;
        margin-left: 0;
        li{
          margin-bottom: 20px;
        }
        .btn{
          margin: 0;
          border-radius: 0;
          background: $red;
          text-transform: uppercase;
          text-align: left;
          font-weight: 600;
          letter-spacing: 2px;
          font-size: 14px;
          transition: background-color 150ms ease-in-out;
          &:hover, &:focus, &:active{
            background-color: darken($red, 10%);
          }
        }
      }
    }
    .media-img{
      @include grid-column(9.5);
      @include grid-push(0.25);
      @media (min-width: $bp-medium){
        @include grid-column(6);
        @include grid-push(-1);
      }
    }
  }

  &.row-5{
    position: relative;
    // z-index: 1;
    margin-bottom: 100px;
    .row-5--title{
      position: relative;
      margin-bottom: 50px;
      z-index: 1;
      @include grid-column(8, $inner-grid);
    }
    .app-deadlines{
      position: relative;
      display: block;
      width: 100%;
      float: left;
      justify-content: center;
      z-index: 3;
      // @media (min-width: $bp-small){
      //   display: flex;
      //   flex-wrap: wrap;
      //   @include grid-collapse;
      //   @include grid-container;
      // }
    }
    .deadline{
      position: relative;
      @include grid-column(8, $inner-grid);
      padding: 50px 45px;
      background-color: $white;
      border: 1px solid $black;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      z-index: 2;
      margin-bottom: 20px;
      @media (min-width: $bp-small){
        @include grid-column(4, $inner-grid);
      }
      @media (min-width: $bp-large){
        @include grid-column(2.66666667, $inner-grid);
        padding: 100px 90px 60px 90px;
        margin-bottom: 0;
      }
      .deadline--icon{
        margin-bottom: 30px;
        font-size: 42px;
        @media (min-width: $bp-medium){
          margin-bottom: 60px;
          font-size: 58px;
        }
      }
      span{
        display: block;
        margin-bottom: 3px;
      }
      .text-red{
        color: $red;
      }
    }
  }

}
