.section-two{
  position: relative;
  .floating-block{
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: 0;
    height: 40vw;
    @include grid-column(4, $inner-grid);
    z-index: 1;
    pointer-events: none;
  }

}

.section-2--row{
  position: relative;
  z-index: 2;
  float: left;
  &.row-1{
    // z-index: 1;
    .media-img{
      position: relative;
      @include grid-column(8, $inner-grid);
      @media(min-width: $bp-medium){
        @include grid-column(4, $inner-grid);
        margin-top: -100px;
      }
    }
    .media-txt{
      position: relative;
      @include grid-column(8, $inner-grid);
      @media(min-width: $bp-medium){
        @include grid-column(4, $inner-grid);
        // @include grid-push(-1, $inner-grid);
        margin-top: 100px;
      }
    }
  }
  &.row-2{
    padding: 5rem 0;
    .media-txt{
      position: relative;
      @include grid-column(8, $inner-grid);
      @media(min-width: $bp-medium){
        @include grid-column(6, $inner-grid);
      }
    }
    .salary-source{
      font-size: 14px;
    }
  }
  &.row-3{
    margin-bottom: 60px;
    .section-2--grid{
      @include grid-column(8, $inner-grid);
      z-index: 1;
      position: relative;
      .section-grid{
        float: left;
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 17px;
        line-height: (25/17);
        text-align: center;
        margin: 0;
        li{
          @include grid-column(8, $inner-grid);
          padding: 28px 24px;
          background-color: $white;
          border: 1px solid black;
          @media(min-width: $bp-xsmall){
            padding: 56px 48px;
          }
          margin-bottom: $base-margin;
          @media(min-width: $bp-small){
            @include grid-column(4, $inner-grid);
            padding: 28px 24px;
          }
          @media(min-width: $bp-medium){
            @include grid-column(2.66666667, $inner-grid);
            padding: 56px 48px;
          }
        }
        .grid-title{
          font-size: 17px;
          line-height: (25/17);
          font-weight: bold;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
        p{
          font-size: 17px;
          line-height: (25/17);
        }

      }
      .stat-credit{
        font-size: 14px;
      }

    }
  }
  &.row-4{
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: $base-margin;
    .media-stat{
      position: relative;
      display: block;
      @include grid-column(8);
      @include grid-push(1);
      margin-bottom: -30px;
      z-index: 3;
      @media (min-width: $bp-small){
        @include grid-column(5);
        @include grid-push(1);
        margin-bottom: -100px;
      }
      @media (min-width: $bp-medium){
        @include grid-column(3);
        @include grid-push(1);
        margin-bottom: 0;
      }
    }
    .media-img{
      position: relative;
      @include grid-column(10);
      margin-bottom: $base-margin;
      @media(min-width: $bp-medium){
        @include grid-column(7);
        @include grid-push(-1);
      }
    }
  }
  &.row-5{
    @media (min-width: $bp-medium){
      margin-top: -$base-margin*3;
    }

    .media-quote{
      position: relative;
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(5, $inner-grid);
        @include grid-push(3, $inner-grid);
        margin-top: $base-margin*8;

      }
      .blockquote-cite{
        font-size: 20px;
        letter-spacing: 3px;
        color: $red;
      }

    }
  }
}
