.section-four{
  position: relative;
  .floating-block{
    position: relative;
    float: left;
    z-index: 1;
    pointer-events: none;
    &.for-row-2{
      position: absolute;
      top: 25px;
      left: 40%;
      height: 100%;
      width: 100%;
      @media (min-width: $bp-medium){
        height: 125%;
      }
    }
    &.for-row-4{
      position: absolute;
      top: 0;
      left: -25%;
      height: 400px;
      width: 100%;
    }
  }
}

.section-4--row{
  position: relative;
  z-index: 2;
  float: left;
  &.row-1{
    margin-bottom: 50px;
    .section-4--title{
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(3, $inner-grid);
      }
    }
  }

  &.row-2{
    margin-bottom: 100px;
    .media-img{
      position: relative;
      @include grid-column(8, $inner-grid);
      z-index: 1;
      @media (min-width: $bp-medium){
        margin-top: 50px;
        @include grid-column(5, $inner-grid);
      }
    }
    .media-txt{
      position: relative;
      @include grid-column(8, $inner-grid);
      z-index: 3;
      @media (min-width: $bp-medium){
        @include grid-column(4, $inner-grid);
        @include grid-push(-1, $inner-grid);
      }
    }
  }

  &.row-3{
    position: relative;

    margin-bottom: 100px;
    .row-3--title{
      margin-bottom: 50px;
    }
    .faculty-carousel{
      position: relative;
      display: block;
      width: 100%;
      float: left;
      .faculty-carousel--button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 30px;
        width: 30px;
        background-color: $gray-dark;
        color: $white;
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        cursor: pointer;
        &:hover, &:focus, &:active{
          background-color: $red;
        }
        &.section-4--prev,
        &.section-4--students-prev{
          display: none !important;
          @media (min-width: $bp-medium){
            display:block !important;
            left: -10px;
          }
          @media (min-width: $bp-xlarge){
            left: -30px;
          }
        }
        &.section-4--next,
        &.section-4--students-next{
          display: none !important;
          @media (min-width: $bp-medium){
            display:block !important;
            right: -10px;
          }
          @media (min-width: $bp-xlarge){
            right: -30px;
          }
        }
      }
    }
    .section-4--carousel,
    .section-4--carousel-students{
      @include grid-column(8, $inner-grid);
      // overflow: hidden;
      .slick-list{
        overflow: visible;
        @media (min-width: $bp-medium){
          overflow: hidden;
        }
      }
      .slide{
        padding: 0 10px;
        &:focus{
          outline: none;
        }
      }
      .faculty--image{
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto $base-margin;
        max-width: 250px;
        min-height: 250px;
      }
      .faculty--name{
        display: block;
        font-size: 20px;
        line-height: 1.6;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        color: $red;
        margin: 0;
      }
      .faculty--info{
        display: block;
        list-style: none;
        margin-left: 0;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        &.student--country {
            font-style: italic;
        }
        li{
          margin-bottom: 10px;
        }
      }
      .student--bio {
          font-size: 14px;
          line-height: 1.8;
          margin-bottom: 0;;
          padding-right: 30px;
          @media (min-width: $bp-menu-shift) {
              font-size: 16px;
          }
      }
      .student--email {
          a {
              color: $red;
              &:hover {
                  text-decoration: none;
              }
              @media (min-width: $bp-menu-shift) {
                font-size: 16px;
              }
          }
      }
    }
  }

  &.row-4{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $base-margin;
    .media-img{
      @include grid-column(4, $inner-grid);
      margin-bottom: $base-margin;
      @media (min-width: $bp-medium){
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @include grid-column(2, $inner-grid);
        @include grid-push(1, $inner-grid);
        margin-bottom: 0;
      }
    }
    .media-quote{
      position: relative;
      @include grid-column(8, $inner-grid);
      @media (min-width: $bp-medium){
        @include grid-column(5, $inner-grid);
      }
      .blockquote-cite{
        font-size: 20px;
        letter-spacing: 3px;
        color: $red;
      }
    }

  }
}

.stats {
    float: left;
    padding-bottom: 120px;
    text-align: center;
    width: 100%;
    h2 {
        margin-bottom: 30px;
    }
    .stat-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        @media (min-width: $bp-sm-medium) {
            grid-template-columns: repeat(2, 50%);
        }
        @media (min-width: $bp-menu-shift) {
            grid-template-columns: repeat(3, 32%);
        }
        &-item {
            border: 1px solid $gray;
            .stat-grid-item-inner {
                background: #E3CCB8;
                border: 15px solid $white;
                height: 100%;
                padding: 22% 20px;
                .stat-grid-item--icon {
                    height: 60px;
                    margin-bottom: 10px;
                    img {
                        max-height: 55px;
                    }
                }
            }
        }
        .stat-grid-item--number p {
            color: $red;
            font: {
                size: 7rem;
                weight: 300;
            }
            line-height: 6rem;
            @media (min-width: $bp-sm-medium) {
                font-size: 5.5rem;
            }
            @media (min-width: $bp-menu-shift) {
                font-size: 4rem;
            }
            @media (min-width: $bp-large) {
                font-size: 5rem;
            }
            @media (min-width: $bp-xlarge) {
                font-size: 6.5rem;
            }
        }
        .stat-grid-item--content {
            color: $white;
            letter-spacing: .06rem;
            text-transform: uppercase;
        }
    }
}
