.section-one{
  .intro--title{
    text-align: center;
    color: $red;
    @media (min-width: $bp-medium){
      padding: 0 60px;
    }
  }
  .intro{
    margin-bottom: 100px;

    p{
      margin-bottom: 0;
    }
  }
  .section-1--media{
    @include grid-container;
    width: 100%;
    float: left;
    position: relative;
  }
  .media-txt{
    position: relative;
    @include grid-column(9);
    @include grid-push(0.5);
    font-size: 25px;
    line-height: (75/50);
    font-weight: 300;
    margin-bottom: $base-margin;
    @media(min-width: $bp-medium){
      @include grid-column(5);
      @include grid-push(1);
      position: absolute;
      left: 0;
      top: 25%;
      z-index: 10;
      font-size: 43px;
      margin-bottom: 0;
    }
    @media(min-width: $bp-large){
      @include grid-column(4);
      @include grid-push(1);
    }
    h2{
      font-size: 25px;
      line-height: (75/62);
      font-weight: 400;
      color: $red;
      @media(min-width: $bp-medium){
        font-size: 50px;
      }
    }
  }
  .media-img{
    position: relative;
    @include grid-column(9);
    @include grid-push(0.5);
    @media(min-width: $bp-medium){
      @include grid-column(6);
      @include grid-push(4);
      z-index: 1;
    }
  }

}
