.social-share{
  @include grid-column(3, $inner-grid);
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $bp-medium){
    @include grid-column(1, $inner-grid);
  }
  &.white{
    .social-share--title,
    .social-share--list a,
    .social-share--list a:visited{
      color: $white;
      text-shadow: 0px 0px 2px rgba(0,0,0,0.75);
    }
  }
  &.black{
    .social-share--title,
    .social-share--list a,
    .social-share--list a:visited{
      color: $black;
      text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    }
  }
}
.social-share--title{
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: $black;
}
.social-share--list{
  list-style: none;
  margin: 0;
  li{
    margin-bottom: 5px;
    text-align: center;
  }
  a,a:visited{
    color: $black;
    &:hover, &:focus, &:active{
      color: $red;
    }
  }
}
