/* ================================
   Typography -- Custom
   ================================ */
.intro{
  font-size: 24px;
  line-height: (50/29);
  text-align: center;
}

.more-link, .more-link:visited{
  text-decoration: none;
  text-transform: uppercase;
  color: $red;
  font-weight: 600;
  letter-spacing: 2px;
  &:hover, &:focus, &:active{
    text-decoration: underline;
  }
}

blockquote {
  font-size: 28px;
  line-height: 1.6666;
  font-weight: 300;
  @media (min-width: $bp-medium){
    font-size: 43px;
  }
  q,p{
    display: block;
    margin-bottom: $base-margin;
  }
}
.blockquote-cite{
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.875;
  letter-spacing: 2px;
}
.blockquote-note{
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 1.875;
}
.blockquote-image{
  max-width: 150px;
  display: block;
  float: left;
  margin-top: $base-margin;
}


.break-all{
  word-break: break-all;
}
