<div class="addthis_toolbox">
	<div class="share custom_images">
		<span class="social-share--title">Share</span>
		<ul class="social-share--list">
			<li>
				<a href="#" class="addthis_button_facebook">
					<span class="hidden">Share on Facebook</span>
					<span class="fa fa-facebook"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_twitter">
					<span class="hidden">Share on Twitter</span>
					<span class="fa fa-twitter"></span>
				</a>
			</li>
			<li>
				<a href="/" class="addthis_button_linkedin">
					<span class="hidden">Share on LinkedIn</span>
					<span class="fa fa-linkedin"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
