<ul class="breadcrumbs">
	<li class="home-crumb"><a href="/" alt="/" title="/"><span class="zmdi zmdi-home"></span><span class="screen-reader-text">Home</span></a></li>
	<div class="expanding-crumbs">
		<li><a href="/" alt="/" title="/">Router</a></li>
		<li><a href="/" alt="/" title="/">Degree</a></li>
		<li><a href="/" alt="/" title="/">Great Grandparent</a></li>
	</div>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Grandparent with Long Title</a></li>
	<li class="parent-crumb"><a href="/" alt="/" title="/">Parent with Long Title</a></li>
</ul>