<div class="faculty-carousel student-ambassadors">

  <div class="faculty-carousel--button section-4--students-prev">
    <span class="fa fa-arrow-left" title="Previous Slide">
      <span class="screen-reader-text">Previous Slide</span>
    </span>
  </div>

  <div class="section-4--carousel-students">
     <div class="slide">
       <div class="faculty--image">
        <%= image_tag "final/05_students/Al-Nejmeh.png", :alt=>"Al Nejmeh profile picture" %>
      </div>
      <div class="faculty--name">Al Nejmeh</div>
      <ul class="faculty--info student--country">
        <li>Lancaster, PA, USA</li>
      </ul>
      <p class="student--bio">Before joining MSPM, I was a product manager for Optum, part of UnitedHealth Group - a Fortune 6 company. I have a passion for product management because I love bringing people’s ideas to life through technology.</p>
      <p class="student--email"><a href="mailto:anejmeh@tepper.cmu.edu">anejmeh@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
     <div class="faculty--image">
        <%= image_tag "final/05_students/Paul-Yan.png", :alt=>"Xusheng Yan profile picture" %>
      </div>
      <div class="faculty--name">Xusheng Yan</div>
      <ul class="faculty--info student--country">
        <li>China</li>
      </ul>
      <p class="student--bio">Before enrolling in the MSPM program, I was a software engineer at Microsoft, a product manager at an ed-tech startup, a church minister, and a graduate of Peking University, the top university in China.</p>
      <p class="student--email"><a href="mailto:xushengy@tepper.cmu.edu">xushengy@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
     <div class="faculty--image">
        <%= image_tag "final/05_students/Henry-Sham.png", :alt=>"Henry Sham profile picture" %>
      </div>
      <div class="faculty--name">Henry Sham</div>
      <ul class="faculty--info student--country">
        <li>San Francisco, CA, USA</li>
      </ul>
      <p class="student--bio">Prior to joining MSPM, I spent seven years as a tech entrepreneur and seasoned business operations veteran at a unicorn tech startup, focusing on user acquisition and growth in Silicon Valley.</p>
      <p class="student--email"><a href="mailto:hsham@tepper.cmu.edu">hsham@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/05_students/Parul-Jain.png", :alt=>"Parul Jain profile picture" %>
      </div>
      <div class="faculty--name">Parul Jain</div>
      <ul class="faculty--info student--country">
        <li>Bhopal, Madhya Pradesh, India</li>
      </ul>
      <p class="student--bio">Before enrolling in MSPM, I spent around seven years working in tech and the consulting industry, managing, developing, and delivering large scale tech products across India and the US.</p>
      <p class="student--email"><a href="mailto:parulj@tepper.cmu.edu">parulj@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
     <div class="faculty--image">
        <%= image_tag "final/05_students/Michaelraj-Shibin.png", :alt=>"Shibin Michaelraj profile picture" %>
      </div>
      <div class="faculty--name">Shibin Michaelraj</div>
      <ul class="faculty--info student--country">
        <li>Tamilnadu, India</li>
      </ul>
      <p class="student--bio">Before joining MSPM, I was working as a product marketer for developer tools. I have an MBA and nearly 10 years of experience in the software industry as a software developer in the US and India.</p>
      <p class="student--email"><a href="mailto:shibinmi@tepper.cmu.edu">shibinmi@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/05_students/Liza-Yulizar.png", :alt=>"Liza Yulizar profile picture" %>
      </div>
      <div class="faculty--name">Liza Yulizar</div>
      <ul class="faculty--info student--country">
        <li>Indonesia</li>
      </ul>
      <p class="student--bio">I was working as a product manager at the largest e-commerce company in Indonesia to enhance the platform’s selling and shopping experience before joining MSPM to hone my leadership skills.</p>
      <p class="student--email"><a href="mailto:lyulizar@tepper.cmu.edu">lyulizar@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
       <div class="faculty--image">
        <%= image_tag "final/05_students/Arence-Chouhan.png", :alt=>"Arence Chouhan profile picture" %>
      </div>
      <div class="faculty--name">Arence Chouhan</div>
      <ul class="faculty--info student--country">
        <li>Gurgaon, India</li>
      </ul>
      <p class="student--bio">Prior to joining MSPM, I spent over four years in product strategy, decision sciences, financial risk management, and entrepreneurship – bringing experience in strategy consulting, data analytics, and product management.</p>
      <p class="student--email"><a href="mailto:arencec@tepper.cmu.edu">arencec@tepper.cmu.edu</a></p>
    </div>
    <div class="slide">
       <div class="faculty--image">
        <%= image_tag "final/05_students/Neha-Singhwal.png", :alt=>"Neha Singhwal profile picture" %>
      </div>
      <div class="faculty--name">Neha Singhwal</div>
      <ul class="faculty--info student--country">
        <li>Bengaluru, India</li>
      </ul>
      <p class="student--bio">I was a consultant in Bangalore before the MSPM program. I enrolled because I ultimately want to be product manager and the focus of this program was inspiring. I would encourage any other students to do the same.</p>
      <p class="student--email"><a href="mailto:nsinghwa@tepper.cmu.edu">nsinghwa@tepper.cmu.edu</a></p>
    </div>

    <div class="slide">
       <div class="faculty--image">
        <%= image_tag "final/05_students/Elise-Zavadak.png", :alt=>"Elise Zavadak profile picture" %>
      </div>
      <div class="faculty--name">Elise Zavadak</div>
      <ul class="faculty--info student--country">
        <li>New Kensington, PA, USA</li>
      </ul>
      <p class="student--bio">My interest in product management comes from my passion for solving problems with innovative solutions. Prior to joining MSPM, I worked at an EdTech startup in New Orleans as the Director of Product and Customer Success, after 4.5 years as a classroom teacher. As a Pittsburgh native, I’m excited to be home.</p>
      <p class="student--email"><a href="mailto:enz@tepper.cmu.edu">enz@tepper.cmu.edu</a></p>
    </div>
     <div class="slide">
       <div class="faculty--image">
        <%= image_tag "final/05_students/Jeff-Monteiro.png", :alt=>"Jeff Monteiro profile picture" %>
      </div>
      <div class="faculty--name">Jeff Monteiro</div>
      <ul class="faculty--info student--country">
        <li>Millington, NJ, USA</li>
      </ul>
      <p class="student--bio">I joined MSPM to ground my experience in a base of product education. My tech journey began at an early-stage EdTech company, helping international students navigate their study abroad experience, after which I moved to Tokyo to learn how to design and code. Most recently, I held a customer success role at a unicorn enterprise chat software company, also working in design and machine learning.</p>
      <p class="student--email"><a href="mailto:jxm@tepper.cmu.edu">jxm@tepper.cmu.edu</a></p>
    </div>
  </div>
  <div class="faculty-carousel--button section-4--students-next">
    <span class="fa fa-arrow-right" title="Next Slide">
      <span class="screen-reader-text">Next Slide</span>
    </span>
  </div>
</div>
