<div class="faculty-carousel">

  <div class="faculty-carousel--button section-4--prev">
    <span class="fa fa-arrow-left" title="Previous Slide">
      <span class="screen-reader-text">Previous Slide</span>
    </span>
  </div>

  <div class="section-4--carousel">
    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "03_faculty/eiben_new_285circle.png" %>
      </div>
      <div class="faculty--name">Brad Eiben</div>
      <ul class="faculty--info">
        <li>Executive Director, MSPM</li>
      </ul>
      <a class="more-link" href="https://www.linkedin.com/in/bradeiben" alt="Learn More about this faculty member">Learn More</a>
    </div>
    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/ayoob_285circle.png" %>
      </div>
      <div class="faculty--name">Ellen Ayoob</div>
      <ul class="faculty--info">
        <li>Adjunct Professor; Integrated Innovation Institute</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/iii/innovators/faculty-staff/ayoob.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/cohen_285circle.png" %>
      </div>
      <div class="faculty--name">Taya Cohen</div>
      <ul class="faculty--info">
        <li>Associate Professor of Organizational Behavior and Theory; Tepper School of Business</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/tepper/faculty-and-research/faculty-by-area/profiles/cohen-taya.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/derdenger_285circle.png" %>
      </div>
      <div class="faculty--name">Tim Derdenger</div>
      <ul class="faculty--info">
        <li>Associate Professor of Marketing and Strategy; Tepper School of Business</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/tepper/faculty-and-research/faculty-by-area/profiles/derdenger-timothy.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/lamont_285circle.png" %>
      </div>
      <div class="faculty--name">David Lamont</div>
      <ul class="faculty--info">
        <li>Associate Teaching Professor; Director of Management Gaming; Tepper School of Business</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/tepper/faculty-and-research/faculty-by-area/profiles/lamont-david.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/monroe_285circle.png" %>
      </div>
      <div class="faculty--name">Bob Monroe</div>
      <ul class="faculty--info">
        <li>Associate Teaching Professor of Business Technologies; Tepper School of Business</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/tepper/faculty-and-research/faculty-by-area/profiles/monroe-robert.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/musuraca_285circle.png" %>
      </div>
      <div class="faculty--name">Raelin Musuraca</div>
      <ul class="faculty--info">
        <li>Assistant Teaching Professor; Human-Computer Interaction Institute (HCII)</li>
      </ul>
      <a class="more-link" href="https://hcii.cmu.edu/people/raelin-musuraca" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/nejmeh_285circle.png" %>
      </div>
      <div class="faculty--name">Brian Nejmeh</div>
      <ul class="faculty--info">
        <li>Adjunct Professor; Human-Computer Interaction Institute (HCII)</li>
      </ul>
      <a class="more-link" href="https://www.linkedin.com/in/brian-nejmeh-088b9b2/" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/shelly_285circle.png" %>
      </div>
      <div class="faculty--name">Skip Shelly</div>
      <ul class="faculty--info">
        <li>Associate Teaching Professor; Human-Computer Interaction Institute (HCII)</li>
      </ul>
      <a class="more-link" href="https://hcii.cmu.edu/people/martin-shelly" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/stamper_285circle.png" %>
      </div>
      <div class="faculty--name">John Stamper</div>
      <ul class="faculty--info">
        <li>Associate Professor; Human-Computer Interaction Institute (HCII)</li>
      </ul>
      <a class="more-link" href="https://dev.stamper.org" alt="Learn More about this faculty member">Learn More</a>
    </div>

    <div class="slide">
      <div class="faculty--image">
        <%= image_tag "final/03_faculty/walter_285circle.png" %>
      </div>
      <div class="faculty--name">Beth Walter</div>
      <ul class="faculty--info">
        <li>Assistant Teaching Professor of Business Communications; Tepper School of Business</li>
      </ul>
      <a class="more-link" href="https://www.cmu.edu/tepper/faculty-and-research/faculty-by-area/profiles/walter-beth.html" alt="Learn More about this faculty member">Learn More</a>
    </div>

  </div>
  <div class="faculty-carousel--button section-4--next">
    <span class="fa fa-arrow-right" title="Next Slide">
      <span class="screen-reader-text">Next Slide</span>
    </span>
  </div>
</div>
