
<footer id="footer" class="track-section-links" data-title="Footer">
  <div class="contain">
    <div class="footer-inner row">
      <div class="footer-left">
        <div class="footer-logo">
          <%= image_tag "cmu-logo-white.png" %>
        </div>
        <div class="footer-address">
          <div class="vcard address">
            <span class="address-title">Tepper School of Business + School of Computer Science</span>
            <div class="adr">
              <p class="street-address">5000 Forbes Avenue</p>
              <p>
                <span class="region">Pittsburgh, PA</span>
                <span class="postal-code">15213</span>
              </p>
            </div>
          </div>
        </div>
        <div class="footer-legal">
          <ul>
            <li><span>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Carnegie Mellon University</span></li>
            <li><a href="https://www.cmu.edu/tepper/privacy-policy/index.html" alt="Privacy Policy">Privacy Policy</a></li>
            <li><a href="https://www.cmu.edu/legal/" alt="Legal Info">Legal Info</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <ul class="social-share--list">
    			<li>
    				<a href="https://www.facebook.com/teppercmu/">
    					<span class="hidden">Facebook</span>
    					<span class="fa fa-facebook"></span>
    				</a>
    			</li>
    			<li>
    				<a href="https://twitter.com/TepperCMU">
    					<span class="hidden">Twitter</span>
    					<span class="fa fa-twitter"></span>
    				</a>
    			</li>
    			<li>
    				<a href="https://www.linkedin.com/school/carnegie-mellon-tepper-school-of-business/">
    					<span class="hidden">LinkedIn</span>
    					<span class="fa fa-linkedin"></span>
    				</a>
    			</li>
    		</ul>
        <a class="footer--blog-link" href="https://ms-product-management-blog.cmu.edu/" alt="Product Management Unpacked">Visit Our Blog</a>
      </div>
    </div>

  </div>
  <div class="footer-post"></div>
</footer>
