<header id="header">
	<div class="row">
		<div class="header--inner">
			<div class="header--row">
				<div class="header--left">
					<div id="nav-trigger" class="trigger block-scroll" rel="nav-offcanvas"></div>
					<div class="header--logo">
						<div class="header--logo-img">
							<img src="../assets/images/final/header_footer/mspm_logo_final_horizontal.png" title="Carnegie Mellon University">
						</div>
					</div>
				</div>
				<div class="header--right">
					<div class="header--callout">
                        <a href="https://apply.tepper.cmu.edu/register/?id=bea7d00c-182f-435d-ab2d-df02cccfea3c" class="header--callout-button gray">Request Information</a>
                        <a href="https://apply.tepper.cmu.edu/apply/?sr=d21d02b5-2572-4464-8f6f-81fe2ad5265e" class="header--callout-button red">Apply Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
