<!-- Modals -->

<div id="spring-semester" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__overlay">
	  <div class="modal-dialog">
	    <div class="modal-content">
        <button type="button" class="close modal__close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times" aria-hidden="true"></i>
					</span>
				</button>
				<h4 class="modal__title">Spring Semester</h4>
				<ul>
					<li>Business Fundamentals for High Tech PM (12 units, Tepper)</li>
                    <li>Digital Service Innovation (12 units, HCII) OR Service Design for Product Management (12 units) OR Design of Artificial Intelligence Products (12 units)</li>
                    <li>Principles of Product Management (6 units, Tepper)</li>
                    <li>Business Communications (6 units, Tepper)</li>
                    <li>Managing People and Teams (6 units, Tepper)</li>
                    <li>Product Marketing (6 units, Tepper)</li>
                    <li>Data Science for Product Managers (6 units, HCII)</li>
                    <li>HCI for Product Managers (6 units, HCII)</li>
				</ul>
	    </div>
	  </div>
	</div>
</div>




<div id="summer-semester" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__overlay">
	  <div class="modal-dialog">
	    <div class="modal-content">
        <button type="button" class="close modal__close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times" aria-hidden="true"></i>
					</span>
				</button>
				<h4 class="modal__title">Summer Semester</h4>
				<p>During the summer, you’ll complete an approved internship in product management and take part in a weekly class that meets via video. The summer internship course gives you an opportunity to reflect on the relationship between the theories and techniques you've been taught and your experience on the job, and allows you to work with the instructor and other students to address challenges you're facing at your internship. Participating in the course will also help build a professional network of colleagues working in the field.</p>
                <p>Here’s where some of our students have interned: Home Depot, Samsung, PayPal, Cisco, Grubhub, Dick’s Sporting Goods, NetApp, and Ancestry.com.</p>
	    </div>
	  </div>
	</div>
</div>





<div id="fall-semester" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__overlay">
	  <div class="modal-dialog">
	    <div class="modal-content">
        <button type="button" class="close modal__close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-times" aria-hidden="true"></i>
					</span>
				</button>
				<h4 class="modal__title">Fall Semester</h4>
				<p>In your final semester, you'll return to the Pittsburgh campus, where you'll complete a capstone experience and dive deeply into advanced technical courses and business electives.</p>
				<ul>
					<li>Capstone Project (12 units, HCII)</li>
					<li>Digital Service Innovation (12 units, HCII) OR Service Design for Product Management (12 units)</li>
					<li>Technical Depth Elective (12 units, SCS)</li>
                    <li>Principles of Product Management II (6 units)</li>
                    <li>One Tepper Elective (6 units, Tepper)</li>
                    <li>Tepper or SCS Elective - Optional (6 units)</li>
                    <li>111 Units required for graduation</li>
				</ul>
				<p>Throughout the entire program, you'll work with expert coaches in the Tepper School's <a href="https://www.cmu.edu/tepper/faculty-and-research/centers/accelerate-leadership-center/index.html">Accelerate Leadership Center</a> to hone your communication and interpersonal skills.</p>
	    </div>
	  </div>
	</div>
</div>
