<div id="nav-offcanvas" class="triggered-area">
	<nav class="">
		<li><a class="jump-link" href="index.html#why-product-management" alt="/" title="/">Why Product Management</a></li>
		<li><a class="jump-link" href="index.html#curriculum" alt="/" title="/">Curriculum</a></li>
        <li><a href="/experiential-learning.html">Experiential Learning</a></li>
		<li><a class="jump-link" href="index.html#faculty" alt="/" title="/">Faculty</a></li>
		<li><a class="jump-link" href="index.html#admissions" alt="/" title="/">Admissions</a></li>
        <li><a href="/corporate-partners.html">Corporate Partners</a></li>
        <li><a href="https://ms-product-management-blog.cmu.edu/">Product Management Unpacked Blog</a></li>
	</nav>
</div>
