<!-- Section 1 -->
<section class="section section-one" id="section1">
  <div class="body-cover">
    <div class="row">
      <div class="contain">
        <div class="intro--title">
    			<h1>Great Product Managers are made, not born.</h1>
    		</div>
        <div class="intro">
          <p>Carnegie Mellon University's top ranked Tepper School of Business and School of Computer Science have partnered to create the Master of Science in Product Management. This STEM-designated program will hone your talents with a specialized curriculum, internship and capstone project. All in one short year. With this first-of-its-kind degree, your career trajectory will soar, and you’ll bring a greater sense of purpose to every working day.</p>
        </div>
      </div>
      <div class="section-1--media">
        <div class="media-txt rellax" data-rellax-speed="2">
          <div class="blue-background island">
            <div class="rellax" data-rellax-speed="-2">
              <h2>Why Product Management</h2>
              <p>You’ve paid your engineering dues. You get the big picture. Now be the voice for both the user and the business. The one who orchestrates collaboration and innovation.</p>
            </div>
          </div>
        </div>
        <div class="media-img">
          <%= image_tag "final/01_more/why_product_865x580.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>
