<!-- Section 2 -->
<section class="section section-two" id="why-product-management">

  <div class="section-background">
    <div class="contain">
			<div class="social-share">
				<%= partial "custom/add-this" %>
			</div>
		</div>
  </div>

  <div class="body-cover" id="section2">
    <div class="row">
      <div class="line graduation-cap" id="line-two"></div>
      <div class="contain">
        <div class="section-2--row row row-1">
          <div class="media-img rellax" data-rellax-speed="2">
            <%= image_tag "final/01_more/MSPM_diagram.png" %>
          </div>
          <div class="media-txt">
            <h2>Be More</h2>
            <p>Inside tech-driven companies everywhere, there’s a pressing need for skilled Product Managers. This rare breed of talent has the business smarts, software skills and social intelligence to drive the product developments that drive growth.</p>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="section-2--row row row-2">
          <div class="media-txt">
            <h2>Earn More</h2>
            <p>With average starting salaries of $127,300<sup>*</sup>, the specialized skills of technical Product Managers are in high demand — globally. The Carnegie Mellon Master of Science in Product Management is designed to accelerate your career and boost your earning potential. All in one short year.</p>
            <p class="salary-source">* CMU MSPM graduates' median salary.</p>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="section-2--row row row-3">
          <div class="section-2--grid">
            <h2 class="text-center">High demand cities for tech</h2>

            <div class="row">
              <ul class="section-grid">
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/01_berlin_iStock-503874284.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">BERLIN, GERMANY</h3>
                    <p>It’s estimated that a new startup is launched every 20 minutes in Berlin. </p>
                  </div>
                </li>
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/atlanta.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">ATLANTA, UNITED STATES</h3>
                    <p>Atlanta is home to UPS, Coca-Cola, Home Depot and is an emerging global leader in the fintech sector.</p>
                  </div>
                </li>
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/03_bangalore_iStock-474676074.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">BANGALORE, INDIA</h3>
                    <p>Bangalore continues to rise as a global tech hub and is home to firms including Microsoft, IBM, Amazon, Apple and Salesforce.</p>
                  </div>
                </li>
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/nyc.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">NEW YORK CITY, UNITED STATES</h3>
                    <p>NYC’s startup ecosystem is valued at $71 billion and is the third most valuable ecosystem in the world.</p>
                  </div>
                </li>
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/02_toronto_iStock-519586547.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">TORONTO, CANADA</h3>
                    <p>Toronto is home to 5,200 startups, 15,000 tech companies and over 200,000 tech employees.</p>
                  </div>
                </li>
                <li>
                  <div class="section-grid--img">
                    <%= image_tag "final/01_more/sanfran.jpg" %>
                  </div>
                  <div class="section-grid--txt">
                    <h3 class="grid-title">SAN FRANCISCO, UNITED STATES</h3>
                    <p>No surprise that San Francisco is still the gold standard for tech, and undeniable epicenter for designers and programmers.</p>
                  </div>
                </li>
              </ul>
            </div>
            <p class="stat-credit">Source: Business Insider, August 8, 2017</p>
          </div>
        </div>
      </div>
      <div class="section-2--row row-4">
        <div class="media-stat">
          <%= image_tag "final/01_more/127300-graphic.png", :title=> "$127,300 Average Product Manager Salary Based on CMU MSPM graduates' median salary" %>
        </div>
        <div class="media-img">
          <%= image_tag "final/01_more/group-median-salary.jpg" %>
        </div>
      </div>
      <div class="contain">
        <div class="section-2--row row row-5">

          <div class="media-quote">
            <blockquote>
              <q>"When a high level of product management competency becomes endemic, organizations can gain multiple benefits throughout the innovation process and product lifecycle.”</q>
              <p class="blockquote-cite">Forrester Research, Inc.</p>
              <!--<p class="blockquote-note">Keynote address dedication for the Gates Center for Computer Science</p>-->
            </blockquote>
          </div>
        </div>
      </div>
      <div class="floating-block background-blue rellax" data-rellax-speed="-2"></div>
    </div>
  </div>
</section>
