<!-- Section 3 -->
<section class="section section-three" id="curriculum">
  <div class="section-background bottom-position">
    <div class="scroll-coax">
			<span class="scroll-coax--text">FIRST-OF-ITS-KIND DEGREE</span>
		</div>
    <div class="contain">
			<div class="social-share">
				<%= partial "custom/add-this" %>
			</div>
		</div>
  </div>
  <div class="body-cover" id="section3">
    <div class="row">
      <div class="line book" id="line-three"></div>
      <div class="contain">
        <div class="section-3--row row row-1">
          <div class="section-3--title">
            <h2>Curriculum for the 21st century</h2>
          </div>
        </div>
      </div>

      <div class="section-3--row  row-2">
        <div class="media-txt">
          <p>With its emphasis on design thinking, human/computer interaction, computer science, and business, the 12-month Master of Science in Product Management program provides a thorough, challenging and balanced curriculum that gives you the technical skills, the strategic and financial acumen, and the leadership development you need to be successful.</p>
        </div>
        <div class="media-img">
          <%= image_tag "final/02_curriculum/curriculum_SCS_2017_MWH_067.jpg" %>
        </div>

      </div>


      <div class="contain">
        <div class="floating-block background-green for-row-3 rellax"></div>
        <div class="section-3--row row row-3">

          <div class="list-semester">
            <h4 class="list-semester--title">Spring Semester</h4>
            <p class="list-semester--info">Core Learning</p>
            <p class="list-semester--info">January - May</p>
            <p class="list-semester--info">60 Units</p>
            <ul>
              <li>Business Courses</li>
              <li>Product Management Courses</li>
              <li>Semester-Long Project Course</li>
              <li>Active Search for Internship</li>
            </ul>
            <a alt="More Detail" class="spring-semester-modal list-semester--btn btn btn-primary" data-custom-open="modal-1">More Detail: Spring</a>
          </div>
          <div class="list-semester">
            <h4 class="list-semester--title">Summer Semester</h4>
            <p class="list-semester--info">Internship</p>
            <p class="list-semester--info">May - August</p>
            <p class="list-semester--info">3 Units</p>
            <ul>
              <li>Product Management Internship</li>
              <li>Online Meetings Throughout Summer</li>
              <li>Reflection Paper Due at End of Summer</li>
            </ul>
            <a alt="More Detail" class="summer-semester-modal list-semester--btn btn btn-primary" data-custom-open="modal-2">More Detail: Summer</a>
          </div>
          <div class="list-semester">
            <h4 class="list-semester--title">Fall Semester</h4>
            <p class="list-semester--info">Capstone</p>
            <p class="list-semester--info">August - December</p>
            <p class="list-semester--info">48 - 60 Units</p>
            <ul>
              <li>Semester-Long Capstone Project</li>
              <li>Advanced CS and Human Computer Interaction Courses</li>
              <li>Advanced Business Electives</li>
              <li>Active Job Search</li>
            </ul>
            <a alt="More Detail" class="fall-semester-modal list-semester--btn btn btn-primary" data-custom-open="modal-3">More Detail: Fall</a>
          </div>
        </div>
      </div>

      <div class="contain">
        <div class="section-3--row row row-4">
          <div class="media-txt">
            <p>Our Master of Science in Product Management is a partnership created by two of our most respected schools — Tepper School of Business and School of Computer Science.</p>
          </div>

        </div>
        <div class="floating-block background-green for-row-4 rellax"></div>
      </div>


      <div class="contain">
        <div class="section-3--row row row-5">
          <div class="media-img-bg">
            <%= image_tag "final/02_curriculum/tepper_quad_700_square.jpg" %>
          </div>
          <div class="media-blocks">
            <div class="row">
              <div class="block">
                <%= image_tag "final/02_curriculum/tepper_accolade_no1_usnews.png" %>
              </div>
              <div class="block">
                <%= image_tag "final/02_curriculum/tepper_accolade_no15_bloomberg.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="contain">
        <div class="section-3--row row row-6">
          <div class="media-img-bg">
            <%= image_tag "final/02_curriculum/gates_700_square.jpg" %>
          </div>
          <div class="media-blocks">
            <div class="row">
              <div class="block">
                <%= image_tag "final/02_curriculum/cs_accolade_ai.jpg" %>
              </div>
              <div class="block">
                <%= image_tag "final/02_curriculum/cs_accolade_turing.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="contain">
        <div class="section-3--row row row-7">
          <div class="media-quote">
            <blockquote>
              <q>"Carnegie Mellon tied everything together for me and gave me a great foundation.”</q>
              <p class="blockquote-cite">DAVID TEPPER,</p>
              <p class="blockquote-note">Founder of Appaloosa Management and a graduate of Carnegie Mellon University’s business school.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
