<!-- Section 5 -->
<section class="section section-five" id="admissions">
  <div class="section-background">
    <div class="scroll-coax">
			<span class="scroll-coax--text">The Time is Now</span>
		</div>
    <div class="contain">
			<div class="social-share">
				<%= partial "custom/add-this" %>
			</div>
		</div>
  </div>
  <div class="body-cover" id="section5">
    <div class="row">
      <div class="line check" id="line-five"></div>
      <div class="contain">
        <div class="section-5--row row row-1">
          <div class="section-5--title">
            <h2>Admissions</h2>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="section-5--row row row-2">
          <div class="accordion-title">
          <!--<p>For CMU MSPM Cohort beginning January 2021, Cohort #4, there will be NO DEFERRALS. Applicants accepted that want to be in future cohorts will need to reapply.</p>-->
          <p>Submit your application by the deadline shown below and be sure to include the following:</p>
          </div>
          <div class="accordion-body">
            <div class="accordion">
              <ul aria-label="..." class="accordion-controls">
                <li>
                  <button class="accordion--button" aria-controls="content-1" aria-expanded="false" id="accordion-control-1">1. Resume</button>
                  <div class="accordion--body" aria-hidden="true" id="content-1">
                    <p>Please upload a concise resume covering the length of time you’ve spent in each job position you’ve held. You’re also welcome to include a one-pager that provides more detail on the work experiences you’ve had.</p>
                  </div>
                </li>

                <li>
                  <button class="accordion--button" aria-controls="content-2" aria-expanded="false" id="accordion-control-2">2. Transcripts</button>
                  <div class="accordion--body" aria-hidden="true" id="content-2">
                    <p>Upload unofficial transcripts -- not web transcripts -- for each school you’re listing in your application.</p>
                    <p>
                      Your transcripts must include:
                      <ul>
                        <li><strong>Degree Name</strong> – Bachelor of Science, Master of Arts, etc.</li>
                        <li><strong>Degree Conferral Date(s)</strong> – The date(s) you earned your degree(s)</li>
                        <li><strong>Degree Certificate</strong> -- This is only necessary if your degree name(s) and conferral date(s) are not on your transcripts</li>
                        <li><strong>Grading Scale</strong> – If you’re not able to find this is on the back of your transcript, please contact your school to provide it</li>
                        <li><strong>Official Translation</strong> – If your transcripts are not in English, upload them in their original language, along with officially translated copies</li>
                      </ul>
                    </p>
                    <p><strong><em>Please make sure you provide us with complete information, so we can process your application without delay.</em></strong></p>
                  </div>
                </li>

                <li>
                  <button class="accordion--button" aria-controls="content-3" aria-expanded="false" id="accordion-control-3">3a. GMAT or GRE Scores</button>
                  <div class="accordion--body" aria-hidden="true" id="content-3">
                    <p>Please ask your GMAT or GRE testing agency to send us your official score, so we can verify what you provide on your application.</p>
                    <p>A couple of important points:
                      <ul>
                        <li>GMAT and GRE scores are valid for five years. Yours must still be valid when you submit your application</li>
                        <li>If you’ve taken the GMAT or GRE more than once, only report your highest score on your application</li>
                        <li>Request that the official score be sent to us using the following codes: <br>
                          <ul>
                           <li>Graduate Management Admissions Test (GMAT) Program Code 69H-XH-84</li>
                           <li>Graduate Record Examination Tests (GRE) Program Code 4883</li>
                          <ul>
                        </li>
                      </ul>
                    </p>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-3b" aria-expanded="false" id="accordion-control-3b">3b. Request for Test Score Waiver</button>
                  <div class="accordion--body" aria-hidden="true" id="content-3b">
                    <p>If you wish to apply for a GMAT/GRE waiver, you must do the following:</p>
                    <p><strong>Submit a letter to the admissions committee (via an upload in your application) that addresses the following:</strong></p>
                      <ul>
                        <li>Please discuss your undergraduate GPA scores, and any other degree GPA. For a waiver to be granted we are only seeking those with exceptionally high GPA achievement.</li>
                        <li>Please also share any remarkable academic achievements we should be aware.</li>
                        <li>Please share with us if you have an advanced master’s degree? Is it in a STEM related area? Are there particular courses that demonstrate your capability in succeeding in the MSPM curriculum?</li>
                        <li>Please share if you have recognized certification in product management, e.g. ISPMA, Pragmatic Institute, AIPMM, Certified Scrum Product Owner, Certified Product Manager (280 Group), Certified Innovation Leader Credential, ProductSchool, Black Bolt Product Management, etc.</li>
                      </ul>
                    </p>
                    <p><strong>Also</strong>:
                      <ul>
                        <li>Please highlight if you have 10 or more years of professional working experience. Please be specific about your roles and job content relative to a role in product management.</li>
                        <li>Please share if you had held the role of product manager and for how many years. Please describe the job and role beyond what is on your resume/CV and be specific about your accomplishments in this role that are relevant to the MSPM degree.</li>
                      </ul>
                    </p>
                    <p><strong>Test Courses:</strong><br>
                    <p>Test waiver applicants may need to complete the following coursework and show proof of completion:</p>
                    <ul>
                        <li><a href="https://online-learning.harvard.edu/course/cs50-introduction-computer-science">CS50: Introduction to Computer Science</a></li>
                        <li>Introduction to Python: Fundamentals</li>
                        <li><a href="https://www.udemy.com/course/become-a-product-manager-learn-the-skills-get-a-job/">Become a Product Manager</a></li>
                        <li><a href="https://www.udemy.com/course/introduction-to-accounting-finance-modeling-valuation-by-chris-haroun/"> Introduction to Finance, Accounting, Modeling and Valuation</a></li>
                    </ul>
                    <p><em>NOTE: If you are rejected for a waiver, we will keep your application, and if you are accepted, you must provide a test score to enroll or consider you when you do provide a test score.</em></p>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-4" aria-expanded="false" id="accordion-control-4">4. Essays</button>
                  <div class="accordion--body" aria-hidden="true" id="content-4">
                    <p>This is the fun part. As part of your application, please answer the following essay questions:
                    <ul>
                      <li>In 150 words or less, tell us about your professional goal immediately following your graduation from Carnegie Mellon University</li>
                      <li>In 300 to 500 words, let us know what your objectives are for pursuing this degree, and why you’re applying to Carnegie Mellon</li>
                      <li>In 300 to 500 words, describe how your academic and professional background has prepared you for success in our MS in Product Management program</li>
                      <li>In 300 to 500 words, tell us about your programming experience, and the numbers of years you’ve worked with each language</li>
                      <li>Optional essay: Use this essay to convey any important information you may have otherwise not been able to communicate. This may include unexplained resume gaps, or your reason for selecting the recommender you chose, or if you are applying again – how your candidacy has improved since your last application.</li>
                    </ul>
                  </p>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-5" aria-expanded="false" id="accordion-control-5">5. THREE LETTERS OF RECOMMENDATION</button>
                  <div class="accordion--body" aria-hidden="true" id="content-5">
                    <p>We prefer that you select three people from your professional life, who can speak to your strengths at work – ideally people who have a supervisory role. Please give us their email contact information on your application, and we’ll reach out to them with a request to submit their letters online.</p>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-6" aria-expanded="false" id="accordion-control-6">6. TOEFL OR IELTS (FOR INTERNATIONAL APPLICANTS)</button>
                  <div class="accordion--body" aria-hidden="true" id="content-6">
                    <p>Carnegie Mellon requires you to be proficient in the English language. For your application to be considered, you must take a TOEFL or IELTS exam and submit your score.</p>
                    <ul>
                      <li>TOEFL and IELTS scores are valid for two years. Yours must still be valid when you submit your application</li>
                      <li>Ask your TOEFL or IELTS testing agency to send us your official score, so we can verify what you provide on your application. Use the following codes:
                        <ul>
                          <li>TOEFL Program Codes: Our Institutional Code is 2074. Our Departmental Code is 02 IELTS</li>
                          <li>Program Code: Select “Carnegie Mellon” and “Tepper School of Business”</li>
                        </ul>
                      </li>
                    </ul>
                    <p><strong>You are exempted from this requirement if you earned a bachelor’s degree or a graduate degree from an institution where the sole language of instruction was English.</strong></p>
                    <ul>
                      <li>In order for you to be eligible for a TOEFL or IELTS waiver, your academic documents must state that the sole language of instruction was English. If they don’t, upload an official letter from your school’s registrar stating that English was the sole mode of instruction for the entirety of the degree you earned</li>
                    </ul>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-7" aria-expanded="false" id="accordion-control-7">7. INTERVIEWS</button>
                  <div class="accordion--body" aria-hidden="true" id="content-7">
                    <p>Admissions interviews are granted at the discretion of the admissions committee after an initial review of your application. You will receive additional information about the interview process at the time of the invitation.</p>
                  </div>
                </li>
                <li>
                  <button class="accordion--button" aria-controls="content-8" aria-expanded="false" id="accordion-control-8">8. APPLICATION FEE</button>
                  <div class="accordion--body" aria-hidden="true" id="content-8">
                    <p>We require a $125 Application Fee. When you submit your application, you can pay online using a credit card.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="contain">
        <p style="color: #a81933; z-index: 999!important;">Facts worth knowing:</p>
        <div class="section-5--row row row-3">
          <div class="media-txt">
            <p>1. If you are admitted, you must submit a $2500 non-refundable deposit and credential verification release (ReVera) by the deadline to secure your spot in the program.</p>
            <p>2. Yes, students in this program are eligible to apply for the OPT STEM extension.</p>
            <p>3. The CIP Code is 11.1005, Information Technology Project Management.</p><br/>
          </div>
          <div class="floating-block background-pink for-row-3 rellax"></div>
        </div>
      </div>

      <div class="section-5--row row-4">
        <div class="media-txt">
          <p>For additional information:</p>
          <ul class="list-buttons">
            <li><a class="btn btn-primary" href="https://cmu.box.com/s/xlhdyo06wmfz6zckoyd4pziu99mw95a1" alt="On-Demand Information Session">On-Demand Information Session</a></li>
            <li><a class="btn btn-primary" href="https://apply.tepper.cmu.edu/portal/MSPM-Virtual" alt="Online Office Hours">Online Office Hours</a></li>
            <li><a class="btn btn-primary" href="https://apply.tepper.cmu.edu/portal/MSPM-VirtualAppWorkshop" alt="Online Application Workshop">Online Application Workshop</a></li>
            <li><a class="btn btn-primary" href="tel:4122685687" alt="PHONE: 412.268.5687">PHONE: 412.268.5687</a></li>
            <li><a class="btn btn-primary break-all" href="mailto:mspm-admissions@andrew.cmu.edu" alt="EMAIL: mspm-admissions@andrew.cmu.edu">EMAIL: mspm-admissions@andrew.cmu.edu</a></li>
            <li><a class="btn btn-primary" href="https://ms-product-management-blog.cmu.edu/" alt="Product Management Unpacked">Visit Our Blog</a></li>
            <li><a class="btn btn-primary" href="assets/files/CMU_MSPM_Brochure.pdf" alt="DOWNLOAD THE BROCHURE" target="_blank">DOWNLOAD THE BROCHURE</a></li>

          </ul>
        </div>
        <div class="media-img">
          <%= image_tag "final/04_admissions/0264_AMM2758.jpg" %>
        </div>
      </div>


      <div class="contain">
        <div class="section-5--row row row-5">
          <div class="row-5--title">
            <h2 class="text-center">Application Deadline</h2>
          </div>
          <div class="app-deadlines">
            <div class="floating-block background-gray for-row-5"></div>
            <div class="deadline">
              <div class="deadline--icon">
                <span class="fa fa-pencil"></span>
              </div>
              <div class="deadline--txt">
                <span>Application </span>
                <span>Deadline</span>
                <span class="text-red">August 1</span>
                <span class="text-red">September 1</span>
                <br/>
              </div>
            </div>
            <div class="deadline">
              <div class="deadline--icon">
                <span class="fa fa-thumbs-up"></span>
              </div>
              <div class="deadline--txt">
                <span>Decision </span>
                <span>Notification</span>
                <span class="text-red">September 2</span>
                <span class="text-red">October 6</span>
                <br>
              </div>
            </div>
            <div class="deadline">
              <div class="deadline--icon">
                <span class="fa fa-money"></span>
              </div>
              <div class="deadline--txt">
                <span>DEPOSIT & </span>
                <span>ReVERA RELEASE</span>
                <span class="text-red">September 19</span>
                <span class="text-red">October 24</span>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>
