<!-- Section 4 -->
<section class="section section-four" id="faculty">
  <div class="section-background">
    <div class="scroll-coax">
			<span class="scroll-coax--text">BUCKLE UP</span>
		</div>
    <div class="contain">
			<div class="social-share">
				<%= partial "custom/add-this" %>
			</div>
		</div>
  </div>
  <div class="body-cover" id="section4">
    <div class="row">
      <div class="line line exclamation" id="line-four"></div>
      <div class="contain">
        <div class="section-4--row row row-1">
          <div class="section-4--title">
            <h2>Faculty who will propel you</h2>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="section-4--row row row-2">
          <div class="media-img">
            <%= image_tag "final/03_faculty/faculty_retouch.jpg" %>
          </div>
          <div class="media-txt">
            <p>We’ll sharpen your skills with a specialized curriculum, internship and capstone project. You’ll also benefit from a high-achieving peer group, and the strength of Carnegie Mellon’s alumni network.</p>
          </div>
          <div class="floating-block background-peach for-row-2 rellax"></div>
        </div>
      </div>
      <div class="contain">
        <div class="section-4--row row row-3">
          <div class="row-3--title">
            <h2 class="text-center">Meet the faculty</h2>
          </div>
          <%= partial "custom/carousel-faculty" %>
        </div>
      </div>
      <div class="contain">
        <div class="section-4--row row row-4">
          <div class="media-img">
          </div>
          <div class="media-quote">
            <blockquote>
              <q>"Product management careers require a more specialized skillset than a typical MBA offers – CMU’s MSPM program blends these technical, business and UX skills. I’ve hired multiple MSPM graduates and all have been prepared to make an immediate impact on the job.”</q>
              <p class="blockquote-cite">Tony Paterra</p>
              <p class="blockquote-note">Vice President of Product Management<br>
Proofpoint</p>
            </blockquote>
          </div>
        </div>
        <div class="floating-block background-peach for-row-4 rellax"></div>
      </div>
    </div>
  </div>
  <div class="stats">
    <div class="container">
        <h2>MSPM 2021 Class Profile</h2>
        <div class="stat-grid">
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-students.png" %></div>
                    <div class="stat-grid-item--number"><p>30</p></div>
                    <div class="stat-grid-item--content">Number of Students</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-female.png" %></div>
                    <div class="stat-grid-item--number"><p>33%</p></div>
                    <div class="stat-grid-item--content">Female</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-globe.png" %></div>
                    <div class="stat-grid-item--number"><p>6</p></div>
                    <div class="stat-grid-item--content">Countries Represented</div>
                </div>
            </div>
            <!--<div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-light-bulb.png" %></div>
                    <div class="stat-grid-item--number"><p>321</p></div>
                    <div class="stat-grid-item--content">Average GRE</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-light-bulb.png" %></div>
                    <div class="stat-grid-item--number"><p>691</p></div>
                    <div class="stat-grid-item--content">Average GMAT</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-hands.png" %></div>
                    <div class="stat-grid-item--number"><p>4.8</p></div>
                    <div class="stat-grid-item--content">Average Years of Experience</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-graduation.png" %></div>
                    <div class="stat-grid-item--number"><p>92%</p></div>
                    <div class="stat-grid-item--content">Job offers before graduation</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-job-title.png" %></div>
                    <div class="stat-grid-item--number"><p>100%</p></div>
                    <div class="stat-grid-item--content">Product management title</div>
                </div>
            </div>
            <div class="stat-grid-item">
                <div class="stat-grid-item-inner">
                    <div class="stat-grid-item--icon"><%= image_tag "icons/icon-internship-salary.png" %></div>
                    <div class="stat-grid-item--number"><p>$36</p></div>
                    <div class="stat-grid-item--content">Average internship pay/hour</div>
                </div>
            </div>-->
        </div>
    </div>
  </div>
  <div class="contain">
        <div class="section-4--row row row-3">
          <div class="row-3--title">
            <h2 class="text-center">Connect with Our Students</h2>
            <p>There are no better people to talk to about our program than the students who are in it right now. Here’s a few who welcome having a conversation with you.</p>
          </div>
          <%= partial "custom/carousel-student-ambassadors" %>
        </div>
      </div>
</section>
