   <nav class="expanding-side-menu active" id="expanding-side-nav">
        <ul class="level-1">
            <li class="has-subnav">
                <a href="/" alt="/" title="/">Bachelor's Degrees</a><span class="side-more-link" tabindex="0"></span>

                <ul class="level-2">
                    <li class="has-subnav">
                        <a href="/" alt="/" title="/">Level 2 </a><span class="side-more-link" tabindex="0"></span>
                        <ul class="level-3">
                            <li class="has-subnav">
                                <a href="/" alt="/" title="/">Level 3</a><span class="side-more-link" tabindex="0"></span>
                                <ul class="level-4">
                                    <li class="has-subnav">
                                        <a href="/" alt="/" title="/">Level 4</a><span class="side-more-link" tabindex="0"></span>
                                        <ul class="level-5">
                                            <li class="has-subnav">
                                                <a href="/" alt="/" title="/">Level 5</a><span class="side-more-link" tabindex="0"></span>
                                                <ul class="level-6">
                                                    <li>
                                                        <a href="/" alt="/" title="/">Level 6</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" alt="/" title="/">Level 6</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/" alt="/" title="/">Level 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/" alt="/" title="/">Level 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/" alt="/" title="/">Level 3</a>
                            </li>
                            <li>
                                <a href="/" alt="/" title="/">Level 3</a>
                            </li>
                            <li>
                                <a href="/" alt="/" title="/">Level 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2 </a>
                    </li>                    
                </ul>
            </li>
            <li class="has-subnav">
                <a href="/" alt="/" title="/">Master's Degrees</a><span class="side-more-link" tabindex="0"></span>

                <ul class="level-2">
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>                    
                </ul>
            </li>
            <li class="has-subnav">
                <a href="/" alt="/" title="/">PhDs</a><span class="side-more-link" tabindex="0"></span>

                <ul class="level-2">
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>                    
                </ul>
            </li>
            <li class="has-subnav">
                <a href="/" alt="/" title="/">Certificates of Advanced Study</a><span class="side-more-link" tabindex="0"></span>

                <ul class="level-2">
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>
                    <li>
                        <a href="/" alt="/" title="/">Level 2</a>
                    </li>                    
                </ul>
            </li>
        </ul>
    </nav>