<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Masters in Product Management @ Carnegie Mellon University</title>
  <meta name="description" content="A Master’s in Product Management is within reach. In one short year, Carnegie Mellon’s Tepper School of Business & School of Computer Science will hone your skills with a specialized curriculum, internship and capstone project.">
  <meta name="keywords" content="Masters in Product Management">
  <meta property='og:description' content="A Master’s in Product Management is within reach. In one short year, Carnegie Mellon’s Tepper School of Business & School of Computer Science will hone your skills with a specialized curriculum, internship and capstone project. " />
  <meta property="og:title" content="Masters in Product Management" />
  <meta property="og:url" content="https://ms-product-management.cmu.edu/" />
  <meta property="og:image" content="https://ms-product-management.cmu.edu/assets/images/final/01_more/20191115_mspm0559.jpg" />
  <meta content="summary" name="twitter:card"/>
  <meta content="https://ms-product-management.cmu.edu/" name="twitter:title"/>
  <meta content="A Master’s in Product Management is within reach. In one short year, Carnegie Mellon’s Tepper School of Business & School of Computer Science will hone your skills with a specialized curriculum, internship and capstone project." name="twitter:description"/>
  <meta content="https://ms-product-management.cmu.edu/assets/images/final/01_more/20191115_mspm0559.jpg" name="twitter:image" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <%= stylesheet_link_tag "style" %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
      <script src="/assets/scripts/vendor/html5shiv.min.js"></script>
      <script src="/assets/scripts/vendor/respond.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <![endif]-->
  <meta name="google-site-verification" content="j48MR4lngI_XtyJB_Wf9BkFe2bwm8TQfTAf5JUsE_18" />
  <script async="async" src="https://apply.tepper.cmu.edu/ping">/**/</script>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5HLBGF');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Ads: 387605130 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-387605130"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-387605130');
  </script>
  <% if current_page.data.slug == "thanks" %>
    <!-- Event snippet for Website lead conversion page -->
    <script>
    gtag('event', 'conversion', {'send_to': 'AW-387605130/9BeZCMC5l4ACEIrF6bgB'});
    </script>
  <% end %>
</head>
