---
title: Tepper School of Business + School of Computer Science | Corporate Partners | Carnegie Mellon University
layout: main
---
<div class="page-body corporate-partners">
	<div id="hero" class="top-section cover"></div>
	<section class="section section-one" id="section1">
        <div class="body-cover">
            <div class="row">
                <div class="contain">
                    <div class="intro--title">
                    <h1>Let's Build Better Product Managers</h1>
                </div>
                <div class="intro">
                    <p>Ours is the first-of-its-kind degree program focused exclusively on building the next generation of product managers, but we’re not doing it alone – we’ve got help from some of the world’s top brands. If you’d like to join them in growing your product management team, or re-tooling some of the talent you’ve already got, let’s talk.</p>
                </div>
            </div>
        </div>
        <div class="section-1--media">
            <div class="contain">
                <div class="media-txt rellax" data-rellax-speed="2">
                    <div class="blue-background island">
                        <div class="rellax" data-rellax-speed="-2">
                            <h2>Be in Great Company</h2>
                            <p>From internships to capstones to hiring – as a corporate partner you’ll be helping our students accelerate their careers, and you’ll have the opportunity to know them before your competitors do.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-carousels">
            <h4 class="logo-carousel-title internships">Internships</h4>
            <div class="logo-carousel internships">
                <div class="logo-carousel--button logo--prev">
                    <span class="fa fa-chevron-left btn" title="Previous Slide">
                        <span class="screen-reader-text">Previous Slide</span>
                    </span>
                </div>
                <div class="logo--section">
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/ANCESTRY.jpg", :alt=>"Ancestory.com logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/CISCO.jpg", :alt=>"Cisco logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/DICKS-SPORTING-GOODS.jpg", :alt=>"Dick's Sporting Goods logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/GRUBHUB.jpg", :alt=>"Grubhub logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/HOME-DEPOT.jpg", :alt=>"Home Depot logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/JUNIPER-NETWORKS.jpg", :alt=>"Juniper Networks logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/PAYPAL.jpg", :alt=>"PayPal logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/SAMSUNG.jpg", :alt=>"Samsung logo" %>
                        </div>
                    </div>
                </div>
                <div class="logo-carousel--button logo--next">
                    <span class="fa fa-chevron-right btn" title="Next Slide">
                        <span class="screen-reader-text">Next Slide</span>
                    </span>
                </div>
            </div>

            <h4 class="logo-carousel-title capstones">Capstones</h4>
            <div class="logo-carousel capstones">
                <div class="logo-carousel--button logo--prev">
                    <span class="fa fa-chevron-left btn" title="Previous Slide">
                        <span class="screen-reader-text">Previous Slide</span>
                    </span>
                </div>
                <div class="logo--section">
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/BOEING-HORIZONX.jpg", :alt=>"Boeing HorizonX" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/JUNIPER-NETWORKS.jpg", :alt=>"Juniper Networks logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/MICROSOFT.jpg", :alt=>"Microsoft logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/NUMO.jpg", :alt=>"Numo logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/PENDO.jpg", :alt=>"Pendo logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/SHEETZ.jpg", :alt=>"Sheetz logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/UPMC.jpg", :alt=>"UPMC logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/VERTEX.jpg", :alt=>"Vertex logo" %>
                        </div>
                    </div>
                </div>
                <div class="logo-carousel--button logo--next">
                    <span class="fa fa-chevron-right btn" title="Next Slide">
                        <span class="screen-reader-text">Next Slide</span>
                    </span>
                </div>
            </div>
            <h4 class="logo-carousel-title hired">Hired</h4>
            <div class="logo-carousel hired">
                <div class="logo-carousel--button logo--prev">
                    <span class="fa fa-chevron-left btn" title="Previous Slide">
                        <span class="screen-reader-text">Previous Slide</span>
                    </span>
                </div>
                <div class="logo--section">
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/AMAZON.jpg", :alt=>"Amazon.com logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/ANCESTRY.jpg", :alt=>"Ancestory.com logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/DICKS-SPORTING-GOODS.jpg", :alt=>"Dick's Sporting Goods logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/EXPEDIA.jpg", :alt=>"Expedia logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/FACEBOOK.jpg", :alt=>"Facebook logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/FORD.jpg", :alt=>"Ford logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/HOME-DEPOT.jpg", :alt=>"Home Depot logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/INDEED.jpg", :alt=>"Indeed logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/MICROSOFT.jpg", :alt=>"Microsoft logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/PAYPAL.jpg", :alt=>"PayPal logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/POINTCLICKCARE.jpg", :alt=>"PointClickCare logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/TRADEWIND.jpg", :alt=>"Tradewind logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/WALMART-LABS.jpg", :alt=>"Walmart Labs logo" %>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="logo--image">
                            <%= image_tag "final/06_logos/ZYNGA.jpg", :alt=>"Zynga logo" %>
                        </div>
                    </div>
                </div>
                <div class="logo-carousel--button logo--next">
                    <span class="fa fa-chevron-right btn" title="Next Slide">
                        <span class="screen-reader-text">Next Slide</span>
                    </span>
                </div>
            </div>
        </div>


        <!--<div class="contain grid-contain">
            <div class="section-2--row row row-3">
                <div class="section-2--grid">
                    <div class="row">
                        <ul class="section-grid">
                            <li>
                                <div class="section-grid--txt">
                                    <%= image_tag "corporate-partners/internships.gif", :alt=>'Internship Partners: ancenstory.com, Cisco, Dick\'s Sporting Goods, GrubHub, The Home Depot, NetApp, PayPal, Samsung' %>
                                </div>
                            </li>
                            <li>
                                <div class="section-grid--txt">
                                    <%= image_tag "corporate-partners/capstones.gif", :alt=>'Capstone Partners: Boeing HorizonX, Microsoft, Numo, NetApp, Pendo, Sheetz, UPMC, Vertex' %>
                                </div>
                            </li>
                            <li>
                                <div class="section-grid--txt">
                                    <%= image_tag "corporate-partners/hired.gif", :alt=>'Hired Partners: ancenstory.com, Dick\'s Sporting Goods, Expedia, Facebook, The Home Depot, PayPal, Tradewind, WalMart Labs' %>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="contain">
            <div class="section-3--row row row-7">
                <div class="media-quote">
                    <blockquote>
                        <q>"The world will be run by product managers – they are the modern day businessmen and women.”</q>
                        <p class="blockquote-cite">Brian Crofts, Chief Product Officer @ <a href="pendo.io">Pendo.io</a></p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-two" id="accordion-section">
        <div class="section-background">
            <div class="contain">
                <div class="social-share">
                    <%= partial "custom/add-this" %>
                </div>
             </div>
        </div>
        <div class="body-cover">
            <div class="row">
                <div class="contain">
                    <div class="section-5--row row row-2">
                        <div class="accordion-title">
                            <h2>Ways to Get Involved</h2>
                        </div>
                        <div class="accordion-body">
                            <div class="accordion">
                                <ul aria-label="..." class="accordion-controls">
                                    <li>
                                        <button class="accordion--button" aria-controls="content-1" aria-expanded="false" id="accordion-control-1">Share Your Expertise</button>
                                        <div class="accordion--body" aria-hidden="true" id="content-1">
                                            <p>The learning you’ve gained through years of real-world experience is extremely valuable, and our students are eager to learn from it. Please consider being a guest speaker during the year. Be prepared though — you’re going to get plenty of good, challenging questions. </p>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="accordion--button" aria-controls="content-2" aria-expanded="false" id="accordion-control-2">Provide Internships</button>
                                        <div class="accordion--body" aria-hidden="true" id="content-2">
                                            <p>Our students are not the typical interns you put in a back office to do spreadsheet analysis. They come to us already deeply immersed in tech, and we prepare them to make an immediate impact on your business. So, go ahead — put them into customer-facing situations and they’ll deliver insights that deliver real value.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="accordion--button" aria-controls="content-3" aria-expanded="false" id="accordion-control-3">Sponsor Capstone Projects</button>
                                        <div class="accordion--body" aria-hidden="true" id="content-3">
                                            <p>Give us a real product problem and put some real money behind it. We'll help you find the right student team to solve it. You’ll get fresh thinking and will work with some incredibly bright people that you’ll want to hire. Sponsoring capstone projects with us is a cost-effective way to explore new product innovations and grow your talent pool.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="full-width-image">
        <%= image_tag "corporate-partners/Corporate-Partners-full-width-row.jpg", :alt=>'Group of students walking outside on campus' %>
    </div>

    <section id="request-info-form">
        <div class="contain">
            <p><span class="red bold">Ready to partner?</span> Please provide your contact information and tell us how you’d like to get involved.</p>
						<div id="request-info">
              <div class="request-info-form">
								<div class="form_page">
                  <form v-on:submit.prevent="submitForm" method="post" class="form">
                    <div class="request-info--form">
                      <ul id="request-info--form">
                        <li>
                          <label for="first_name" class="screen-reader-text">First Name*:</label>
                          <input id="first_name" class="text_field" type="text" name="first_name" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="first_name" placeholder="FIRST NAME*" v-model="formData.first_name"/>
                        </li>
                        <li>
                          <label for="last_name" class="screen-reader-text">Last Name*:</label>
                          <input id="last_name" class="text_field" type="text" name="last_name" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="last_name" placeholder="LAST NAME*" v-model="formData.last_name"/>
                        </li>
                        <li>
                          <label for="title" class="screen-reader-text">Title:</label>
                          <input id="title" class="text_field" type="text" name="title" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="title" placeholder="TITLE" v-model="formData.title"/>
                        </li>
                        <li>
                          <label for="company" class="screen-reader-text">Company/Organization:</label>
                          <input id="company" class="text_field" type="text" name="company" required="" aria-required="true" autocapitalize="words" autocorrect="off" autocomplete="company" placeholder="COMPANY/ORGANIZATION" v-model="formData.company"/>
                        </li>
                        <li>
                          <label for="email" class="screen-reader-text">Email*:</label>
                          <input type="email" id="email" class="email" name="email" required="" aria-required="true" aria-describedby="email-note" autocapitalize="off" autocorrect="off" autocomplete="email" placeholder="EMAIL*" v-model="formData.email">
                        </li>
                        <li>
                          <label for="phone" class="screen-reader-text">Phone*:</label>
                          <input type="tel" id="phone" class="tel" name="phone" autocorrect="off" autocomplete="tel" placeholder="PHONE*" v-model="formData.phone">
                        </li>
												<li>
													Which area best describes your interest?:<br/>
													<input type="radio" name="interest" id="interest" value="internship" v-model="formData.interest">
													<label for="always">Internship</label><br>
													<input type="radio" name="interest" id="interest" value="capstone" v-model="formData.interest">
													<label for="never">Capstone</label><br>
													<input type="radio" name="interest" id="interest" value="speaking" v-model="formData.interest">
													<label for="change">Speaking (share expertise)</label>
												</li>
                        <li>
                          <label for="opportunities" class="screen-reader-text">Describe how you would like to partner with us</label>
                          <textarea id="opportunities" class="textarea" name="opportunities" required="" aria-required="true" placeholder="Describe how you would like to partner with us" v-model="formData.opportunities"></textarea>
                        </li>
                        <li class="honey">
                          <label for="email2" class="screen-reader-text">EMAIL2</label>
                          <input type="text" id="email2" class="email2" name="email2" autocorrect="off" placeholder="EMAIL2" v-model="formData.email2">
                        </li>
                        <li>
                          <input type="submit" class="btn-submit" value="Submit">
                        </li>
                      </ul>
                    </div>
                  </form>
			    </div>
              </div>
            </div>
        </div>
    </section>

</div><!--page-body-->

<%= partial "custom/modal-content" %>
