---
title: Tepper School of Business + School of Computer Science | Carnegie Mellon University
layout: main
---
<div class="page-body">
	<div id="hero" class="top-section cover">
		<div class="scroll-coax">
			<span class="carrot fa fa-chevron-down"></span>
			<span class="scroll-coax--text">Ready to launch?</span>
		</div>
		<div class="line rocket" id="line-one"></div>
		<div class="contain">
			<div class="social-share">
				<%= partial "custom/add-this" %>
			</div>
		</div>
	</div>
	<%= partial "custom/section-1" %>
	<%= partial "custom/section-2" %>
	<%= partial "custom/section-3" %>
	<%= partial "custom/section-4" %>
	<%= partial "custom/section-5" %>

</div><!--page-body-->

<%= partial "custom/modal-content" %>
