---
title: Tepper School of Business + School of Computer Science | Thank You | Carnegie Mellon University
layout: main
slug: thanks
---
<div class="page-body corporate-partners">
	<div id="hero" class="top-section cover short" id="top1"></div>
	<section class="section section-one" id="section1">
        <div class="body-cover">
            <div class="row">
                <div class="contain">
                    <div class="intro--title">
                    <h1>Thank You!</h1>
                </div>
                <div class="intro">
                    <p>Thank you for reaching out to become an industry partner.</p>
										<p>Learn More About:</p>

										<a href="/assets/files/MSPM-Corporate-Brochure-2020.pdf" alt="/" title="/">MSPM >> </a><br/>
										<a href="/assets/files/MSPMINTERNSHIPS2020.pdf" alt="/" title="/">Internships >> </a><br/>
										<a href="/assets/files/MSPMCAPSTONES2020.pdf" alt="/" title="/">Capstone Projects >> </a>
                </div>
            </div>
        </div>
    </section>
</div><!--page-body-->
