/* ================================
   Reuseable Classes
   ================================ */
.hidden,
.screen-reader-text,
.meta-nav{
  position: absolute;
  left: -99999em;
}

.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.normal {
    text-transform: none !important;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

ul.clean,
ol.clean{
  list-style: none;
  margin-left: 0;
  li{
    padding-left: 0;
  }
}

.float-left{
	float: left !important;
}
.float-right{
	float: right !important;
}
.clear-both{
	clear: both;
}


//Display reusable classes
.display-block{
  display: block !important;
}
.display-inline-block{
  display: inline-block !important;
}
.display-flex{
  display: flex !important;
}

//Position reusable classes
.position-relative{
  position: relative !important;
}
.position-absolute{
  position: absolute !important;
}
.position-fixed{
  position: fixed !important;
}

.note {
    padding-top: 8px;
    width: 75%;
    p {
        font: {
            size: 18px !important;
            weight: 700;
        }
        line-height: 1.5 !important;
    }
}

.disabled {
    cursor: not-allowed;
}
