// Typograph
$base-font-size: 16px;
$base-line-height: 24px;
$base-margin: 20px;


//Font families
$font-stack-sans: "Open Sans", Helvetica, san-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;
$font-stack-mono: 'Courier New', Courier, monospace;
