// Variables

//Grid Setup
$neat-grid: (
  columns: 10,
  gutter: 20px,
);

$inner-grid: (
  columns: 8,
  gutter: 20px,
);


// Breakpoints
$bp-xsmall: 400px;
$bp-small: 480px;
$bp-sm-medium: 640px;
$bp-medium: 760px;
$bp-large: 920px;
$bp-xlarge: 1200px;
$bp-huge: 1400px;
$bp-xhuge: 1500px;
$bp-super: 1700px;
$bp-xsuper: 1900px;

//One awesome breakpoint for when the menu goes from mobile to desktop
$bp-menu-shift: $bp-medium;


//Color Variables
$red: #a81933;
$gray-dark: #484848;
$gray: #9b9b9b;
$black: #080000;
$white: #FFFFFF;
$tan: #eae6e1;
$blue-pale: #c8d1d9;
$blue-dark: #6786ae;
$mint: #dae0aa;
$peach: #e3d8c8;
$pink-dusty: #d4c8c3;


// Main Colors
$background-color: $tan;

//Text Color
$primary-text-color: $black;
$light-text-color: $white;
$link-text-color: $primary-text-color;
$link-hover-color: #005daf;
$link-underline-color: $link-hover-color;
$visited-text-color: $primary-text-color;

//Button Colors
//Default
$btn-background-color: $gray;
$btn-text-color: $light-text-color;
$btn-hover-color: darken($btn-background-color, 15%);
$btn-active-color: $btn-hover-color;

//Secondary
$btn-secondary-background-color: $gray;
$btn-secondary-text-color: $light-text-color;
$btn-secondary-hover-color: darken($btn-secondary-background-color, 15%);
$btn-secondary-active-color: $btn-secondary-hover-color;

//Alternative
$btn-alternative-background-color: $gray-dark;
$btn-alternative-text-color: $light-text-color;
$btn-alternative-hover-color: darken($btn-alternative-background-color, 15%);
$btn-alternative-active-color: $btn-alternative-hover-color;

//Transparent
$btn-transparent-background-color: rgba(0,0,0,0.25);
$btn-transparent-text-color: $light-text-color;
$btn-transparent-hover-color: rgba(0,0,0,0.5);
$btn-transparent-active-color: $btn-transparent-hover-color;

//Select Custom
$select-custom-background: $gray;
$select-custom-text: $light-text-color;

// Shadows, Borders, & Others
$box-shadow: 0 2px 5px rgba(0,0,0,0.26);
