<section class="section section-one" id="section1">
    <div class="body-cover">
        <div class="row">
            <div class="contain">
                <div class="intro--title">
                    <h1>A Future Built On Experiential Learning</h1>
                </div>
                <div class="intro">
                    <p>Our students learn by doing and this is why they become highly sought after Product Managers who take initiative, manage stakeholders, embrace ambiguity and think big. </p>
                    <p>&nbsp;</p>
                    <p>All Master of Science in Product Management students at Carnegie Mellon University gain real-world experience through capstone projects and internships that build upon the technical and leadership skills you learn in class. You’ll work with top companies on cutting-edge products,  learn to handle diverse teams and build industry connections that set you apart and prepare you for technology’s most competitive product management roles.</p>
                </div>
            </div>
        </div>
        <div class="internships">
            <div class="row">
                <div class="container">
                    <div class="internships--left">
                        <div class="blue-background floating-background-left rellax" data-rellax-speed="1"></div>
                        <div class="internships--offset-text-right">
                            <h2><%= current_page.data.internships_heading %></h2>
                            <p><%= current_page.data.internships_description %></p>
                        </div>
                    </div>
                    <div class="internships--right">
                        <div class="internships--logos">
                            <% current_page.data.internships_logos.each do |item| %>
                            <div class="internships--logos--logo">
                                <%= image_tag item.img_file, :alt=>item.title %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="capstones">
            <div class="row">
                <div class="container">
                    <div class="capstones--intro">
                        <div class="floating-background-right background-peach rellax" data-rellax-speed="-1"></div>
                        <h2><%= current_page.data.capstones_heading %></h2>
                        <p><%= current_page.data.capstones_description %></p>
                    </div>
                    <div class="capstones--list">
                        <ul>
                            <% current_page.data.capstones_list.each do |item| %>
                            <li><%= item %></li>
                            <% end %>
                        <ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <button class="capstone-carousel--button button--prev">
                        <span class="fa fa-arrow-left btn" title="Previous Slide">
                            <span class="screen-reader-text">Previous Slide</span>
                        </span>
                    </button>
                    <div class="capstone-carousel">
                        <% current_page.data.capstones_slider.each_with_index do |item, index| %>
                            <div class="slide">
                                <div class="slide--container">
                                    <div class="slide--image">
                                        <%= image_tag item.img_file, :alt => '' %>
                                    </div>
                                    <div class="slide--text">
                                        <h3><%= item.title %></h3>
                                        <p><%= item.body %></p>
                                    </div>
                                    
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <button class="capstone-carousel--button button--next">
                        <span class="fa fa-arrow-right btn" title="Next Slide">
                            <span class="screen-reader-text">Next Slide</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>