<section class="section section-two" id="section2">
    <div class="section-background">
        <div class="contain">
            <div class="social-share">
                <%= partial "custom/add-this" %>
            </div>
        </div>
    </div>
    <div class="body-cover">
        <div class="careers">
            <div class="row">
                <div class="contain">
                    <div class="intro--title">
                        <h2><%= current_page.data.careers_heading %></h2>
                    </div>

                    <div class="careers--carousel--button prev">
                        <span class="fa fa-arrow-left" title="Previous Slide">
                        <span class="screen-reader-text">Previous Slide</span>
                        </span>
                    </div>
                    <div class="careers--carousel">
                        <% current_page.data.careers_carousel.each_with_index do |item, index| %>
                        <div class="slide">
                            <div class="careers--carousel--image">
                                <%= image_tag item.img_file, :alt => item.title %>
                            </div>
                            <div class="careers--carousel--text">
                                <div class="careers--carousel--name"><h3><%= item.title %></h3></div>
                                <div class="careers--carousel--description"><p><%= item.body %></p></div>
                                <div class="careers--carousel--link"><p><a href="<%= item.link %>" class="more-link">Read More</a></p></div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <div class="careers--carousel--button next">
                        <span class="fa fa-arrow-right" title="Next Slide">
                        <span class="screen-reader-text">Next Slide</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="employers">
            <div class="row">
                <div class="contain">
                    <div class="employers--right">
                        <div class="floating-background-left background-green rellax" data-rellax-speed="1"></div>
                        <h2><%= current_page.data.employers_heading %></h2>
                        <p><%= current_page.data.employers_description %></p>
                    </div>
                    <div class="employers--left">
                        <div class="employers--logos">
                            <% current_page.data.employers_logos.each do |item| %>
                            <div class="employers--logos--logo">
                                <%= image_tag item.img_file, :alt => item.title %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
